p {
    .hs-cta-wrapper {

        .cta_button {
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }

}

.po-cta-primary,
.po-cta-secondary,
.po-cta-tertiary,
.po-cta-quaternary {

    font-family: hubl("$font");
    display: inline-block;
    text-transform: uppercase;
    font-size: em(16);
    font-weight:400;
    padding: 12px 40px;
    border-radius: 15px;

    &:hover, &:active, &:focus {
        text-decoration: none;
    }

    &:after {
        display: none !important;
    }
}

//Pomaranczowy
.po-cta-primary {
    color:hubl("$cta_color")!important;
    background-color: hubl("$cta_background");
    border: 1px solid hubl("$cta_background");
    &:hover {
        background-color: hubl("$cta_hover_background");
        color:hubl("$cta_background")!important;
        border: 1px solid hubl("$cta_background"); 
    }
}

//Bialy
.po-cta-secondary {
    background-color: hubl("$cta_2_background");
    color: hubl("$cta_2_color") !important;
    border: 1px solid hubl("$cta_2_background");
    &:hover {
        color:hubl("$cta_2_background")!important;
        background-color: hubl("$cta_2_hover_background"); 
        border: 1px solid hubl("$cta_2_background");
    } 
}

//Przezroczysty
.po-cta-tertiary {
    color:hubl("$cta_color")!important;
    border: 1px solid hubl("$cta_hover_background");
         &:hover {
        background-color: hubl("$cta_hover_background");
        color:hubl("$cta_2_color")!important;
        border: 1px solid hubl("$cta_hover_background");
    }
}

// Kwadraciak
.po-cta-quaternary {
    border: 1px solid hubl_rgba('$cta_hover_background',0.7);
    color: hubl("$cta_color")!important;
    font-size: em(15);
    padding: 30px 30px;
    &:hover {
        background-color:hubl_rgba('$cta_hover_background',0.1);
    }
}






