footer.footer {
    a {
        color: hubl("$first_color");
    }

    .follow-us {
        width: 100%;
        margin: 0 auto;
        background-color: hubl("$first_color");
        i, svg {
            color: #fff;
        }
        ul {
            list-style: none;
            padding-left: 0px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 10px 0px;
            li {
                color: #fff;
                padding-left: 0px;
                margin-bottom: 0px;
                display: inline-block;
                &:before {
                    display: none;
                }
                &.title {

                    line-height: 48px;
                    padding: 10px 150px 10px 0px;
                    @media (max-width: 767px) {
                        padding-right: 40px;
                    }
                }
            }
            &.social {
                li {
                    font-size: 45px;
                    padding-right: 90px;
                    @media (max-width: 1024px) {
                        padding-right: 40px;
                        font-size: 30px;
                    }
                    @media (max-width: 480px) {
                        padding-right: 30px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
    .content {
        width: 100%;
        background-color: hubl("$footer_color"); 
        padding: 20px 0px;
        h4,
        h3 {
            font-size: 24px;
            color: hubl("$main_font_color");
            font-weight: 400;
            text-transform: none;
        }
        p {
            font-size: 18px;
            line-height: 27px;
            color: hubl("$second_font_color");
        }
        .widget-type-form {
            h3{
                margin-top: 0px;
            }
            input[type="submit"] {
                width: 100%;
                background-color: hubl("$first_color");
                border-color:hubl("$first_color");
                &:hover{
                    background-color: hubl("$copyright_color");
                    border-color: hubl("$copyright_color");
                }   
            }
            .inputs-list{
               
                    padding-left: 0px;
                    li{
                        font-size: 18px;
                    }
               
            }
        }
        .widget-type-form .hs_cos_wrapper_type_form{
            margin-top: 20px;
            font-weight: 400;
            display: inline-block;
            text-align: left;
        }
        .widget-type-rss_listing {
            .hs-rss-item {
                position: relative;
                margin-bottom: 40px;
                &:before {
                    position: absolute;
                    content: '';
                    height: 2px;
                    width: 35px;
                    background-color: rgba(0, 0, 0, 0.2);
                    bottom: -20px;
                    left: 0px;
                }
                &:last-child {
                    margin-bottom: 20px;
                    &:before {
                        display: none;
                    }
                }
            }
            .hs-rss-title {
                span {
                    color: hubl("$second_font_color");
                    font-size: 18px;
                    line-height: 1;
                    font-weight: 400;
                    transition: all 0.3s linear;
                    &:hover {
                        color: hubl("$first_color");
                    }
                }
            }
            .hs-rss-byline {
                line-height: 27px;
                .hs-rss-date {
                    color: hubl("$second_font_color");
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 400;
                }
            }
        }
    }
    .bottom {
        width: 100%;
        background-color: hubl("$copyright_color"); 
        padding: 32px 0px;
        .flex-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            &>div {
                @media (max-width: 680px) {
                    width: 100%;
                }
            }
            .left {
                span {
                    color: #888888;
                    font-size: 18px;
                    font-weight: 400;
                    @media (max-width: 400px) {
                        font-size: 16px;
                    }
                }
            }
            .right {
                display: flex;
                align-items: center;
                justify-content: space-between;

                ul {
                    list-style: none;
                    padding-left: 0px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0px;
                    li {
                        padding-left: 0px;
                        margin-bottom: 0px;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1;
                        &:before {
                            display: none;
                        }
                        border-right: 1px solid #888888;
                        a {
                            color: #888888;
                            font-size: 18px;
                            padding-right: 20px;
                            padding-left: 20px;
                            font-weight: 400;
                            &:hover {
                                color: hubl("$first_color");
                            }
                            @media (max-width: 400px) {
                                font-size: 16px;
                            }
                        }
                        &:first-child {
                            a {
                                padding-left: 0px;
                            }
                        }
                        &:last-child {
                            border-right: none;
                            a {

                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
            .btn-go-top {
                width: 45px;
                height: 45px;
                border: 1px solid #a1a1a3;
                text-align: center;
                cursor: pointer;
                margin-left: 70px;
                transition: 0.3s all linear;
                @media (max-width: 400px) {
                    margin-left: 0px;
                }
                i, svg {
                    transition: 0.3s all linear;
                    color: #a1a1a3;
                }
                &:hover {
                    border-color: hubl("$first_color");
                    i, svg {
                        color: hubl("$first_color");
                    }
                }
            }
        }
    }
}



.social-footer-center {
    footer.footer {
        .follow-us {
            .social-bar {
                flex-direction: column;

                // border-top: 1px solid rgba(255, 255, 255, 0.2);
                &>li {


                    text-align: center;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
                .title {
                    padding: 15px 0px 0px 0px;
                }
                .social {

                    justify-content: center;
                    @media (max-width: 767px) {
                        justify-content: space-between;
                    }
                    li {
                        padding: 5px 50px;
                        @media (max-width: 767px) {
                            padding: 5px 0px;
                        }
                        @media (max-width: 480px) {
                            padding: 10px 0px;
                        }
                    }
                }
            }
        }
    }
}

.schedule-consultation {
    background-color: hubl("$first_color");
    width: 100%;
    text-align: center;
    color: #fff;

    h1, h2, h3, h4 {
        margin-top: 0;
    }

    .container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}


.footer-container-wrapper {

    .schedule-consultation {
        padding-bottom: 10px;

        .container {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

