.form-title {
    color: #a1a1a1;
    max-width: 900px;
    margin: 20px auto;
}

.hs-form-field {
    margin-bottom: 20px;

    & > label {
        display: inline-block;
        font-weight: 400;
        font-size: 20px;
        color: hubl("$main_font_color");
        .hs-form-required {
            // display: none;
            } //class added with jqury in forms.js - stopped working properly
            .required {

                &:after {
                    // content: "*";    - stopped working properly
                    color: hubl("$main_font_color");
                }
            }
        }

        .hs-field-desc {
            font-size: 18px;
            color: hubl("$first_color");

        }
    }

    .hs-form-required {
        color: hubl("$first_color");
    }


    .input {

        li {
            padding-left: 20px;

            &:before {
                display: none;
            }
        }
    }

    input.hs-input,
    textarea,
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: em(18);
      background-color: #fff;
      border: 1px solid #a1a1a1;
      border-radius: 20px;
      padding: 20px;
      margin-top: 10px;
      outline: none;  
      font-family: hubl("$font");
      color: inherit;
      &:focus {}
      &.error {}
      &::-ms-reveal {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
    &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
    }
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-reveal {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}

input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

// BUTTON TYPE SUBMIT 
.hs_submit{
  text-align: center;
  input[type="submit"] {
      font-family: hubl("$font");
      font-size: em(18);
      background-color: hubl("$cta_2_hover_background");
      border: 1px solid hubl("$$cta_2_hover_background");
      color: hubl("$cta_color");
      border-radius: 20px;
      padding: 20px 40px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.3s all linear;
      appearance: none;
      &:hover {
          background-color: hubl("$copyright_color");
          // color: hubl("$cta_background");
      }
  }
} 
.inverse{
    input[type="submit"] {
        background-color: hubl("$first_color"); 
        border: 1px solid hubl("$first_color"); 
        color: #fff;
        &:hover {
          background-color: #fff;
          color: hubl("$first_color"); 
      }
  }
}
// BUTTON TYPE RADIO AND CHACKBOX
input {
    &[type="checkbox"] {
        visibility: hidden;
        display: none;
        +span {
            margin-left: 12px;
            position: relative;
            text-align: left;
            &:before {
                position: absolute;
                content: '';
                width: 20px;
                height: 20px;
                border: 1px solid #a1a1a3;
                top: 3px;
                top: 50%;
                transform: translateY(-50%);
                left: -30px;
            }
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -28px;
                font-family: "Font Awesome\ 5 Free";
                transition: color 0.3s, box-shadow 0.3s;
                font-weight: 900;
            }
            &:hover:before {
                border-color: hubl("$main_font_color");
                cursor: pointer;
            }
        }
        &:checked+span:after {
            content: "\f00c";
            color: hubl("$main_font_color");
            font-size: 15px;
            cursor: pointer;
        }
    }
    &[type="radio"] {
        visibility: hidden;
        display: none;

        +span {
            margin-left: 14px;
            position: relative;
            text-align: left;
            &:before {
                content: '';
                border-radius: 50%;
                border: 1px solid #a1a1a3;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                background-color: #FFF;
                height: 20px;
                width: 20px;
                transition: 0.3s;
            }
            &:after {
                position: absolute;
                left: -26px;
                top: 50%;
                transform: translateY(-50%);
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: hubl("$main_font_color");
            }
            &:hover:before {
                border-color: hubl("$main_font_color");
                cursor: pointer;
            }
        }
        &:checked+span {
            &:after {
                content: "";
                cursor: pointer;
            }
        }
    }
}

// SELECT 

.dropdown_select.input {
    font-size: 18px;
    user-select: none;
    select {
        display: none;
    }
    .dropdown-header {
        border: 1px solid #a1a1a3;
        background: #fff;
        color: hubl("$font2_color");
        padding: 0 20px;
        height: 60px;
        cursor: pointer;
        position: relative;
        margin-bottom: 8px;
        margin-top: 10px;
        border-radius: 20px;
        span {
            line-height: 60px;
            max-height: 60px;
            overflow: hidden;
            font-weight: 300;
            text-align: left;
        }
        &:after {
            font-family: "Font Awesome\ 5 Free";
            content: "\f078";
            font-size: 16px;
            font-weight: 900;
            position: absolute;
            color: hubl("$font2_color");
            right: 20px;
            top: 19px;
            width: 22px;
            height: 22px;
        }
        &.dropdown-selected {
            color: hubl("$second_color");
        }
    }
    .dropdown-list {
        background-color: #FFF;
        list-style: none;
        padding-left: 0;
        margin: 0;
        border-radius: 20px;
        border: 1px solid #a1a1a3;
        height: auto;
        width: 100%;
        li {
            // height: 60px;
            // line-height: 60px;
            cursor: pointer;
            color: hubl("$font2_color");
            clear: left;
            font-weight: 300;
            display: block !important;
            padding-left: 20px;
            margin-left: 0px;
            margin-right: 0 !important;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;

        }
        li:hover {
            color: hubl("$main_font_color");
        }
    }
}

textarea {
    resize: vertical;
    min-height: 160px;
}


.widget-type-form,
.widget-type-blog_subscribe {
    ul {
        padding-left: 0px;
        li {
            padding-left: 0px;
            margin-bottom: 0px;
            display: block;
            margin-left: 20px;
            font-size: 18px;
            @media (max-width: 982px) {
                display: block;
                margin-left: 20px;
            }
            &:before {
                display: none;
            }
        }
    }
    form {
        margin: 20px auto;
    }

    .hs_recaptcha, .hs_error_rollup {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    fieldset {
        max-width: 900px!important;
        margin: auto!important;

        .hs-richtext {
            max-width: inherit;
        }

        .input {
            width: 100%;
            margin: 0;

            .hs-input {
                width: 100%!important;
            }
        }

        &.form-columns-2 {
            .hs-form-field {
                width: 50%!important;
                @media (max-width: 767px){
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;

                }
            }
        }

        &.form-columns-3 {
            .hs-form-field {
                width: 33.33%!important;
                @media (max-width: 767px){
                    width: 100%!important;
                    float: none!important;
                    padding: 0px!important;

                }
            }
        }

        &[class^="form-columns-"]:not(.form-columns-1) {

            .hs-form-field {
                padding-left: 20px;
                padding-right: 20px;

                &:first-of-type {
                    padding-left: 0;
                }

                &:last-of-type {
                    padding-right: 0;
                }
                @media (max-width: 400px),(max-device-width: 480px) and (min-device-width: 320px) {
                    width: 100%;
                    padding: 0px;
                }
                input {
                    @media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px) {
                        width: 100%!important;
                    }
                }
            }
        }
    }
    .hs-error-msgs {
        list-style: none;
        padding-left: 0;
        margin: 10px 0;

        li {
            padding-left: 0;
            font-size: em(18);
            line-height: 1.5em;
            margin-bottom: 0;
            margin-left: 0px;
            &:first-child{
              margin-left: 0px;
          }
          &:before {
            content: '';
            display: none !important;
        }

        a {
            color: inherit;
            font-weight: inherit;
        }
    }
}
}


.widget-type-form span{
    // width: 100%;        psuje pola required
    display: inline-block;
}












