body.globals {
	background-color: #efefef;
    
}

.body-container-wrapper {
    padding-top: 58px;
    }

    .landing .body-container-wrapper {
        padding-top: 115px;
    }

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
body{
	margin: 0px;
    padding: 0px;
    font-family: hubl("$font");
    overflow-x: hidden; // potrzebuje tego do homa 
}

.row-fluid [class*="span"] {
  min-height: 0px;
}

*,*:before, *:after {
    box-sizing: border-box;
}
// magnific popup


    .mfp-bg{
        z-index: 100000!important;
    }
    .mfp-wrap{
        z-index: 100001!important;
    }


.hs_cos_wrapper_type_linked_image {
    a {
        &:after {
            display: none !important;
        }
    }
}

// #cssmenu {
//     a {
//         &:after {
//             display: none;
//         }
//     }
// }

a[href="#top"] {
    &:after {
        display: none !important;
    }
}

.hs_cos_wrapper_type_social_sharing a {

    &:after {
        display: none !important;
    }
}

.slick-slider{
   .slick-next, .slick-prev {
            width: 48px;
            height: 48px;
            background-color: #fff;
            border-radius: 50%;
            opacity: .4;
            z-index: 1;
            box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, .15);
            transition: all .2s linear;
            top: 50%;
            transform: translateY(-50%);

            &:before {
                display: inline-block;
                font-family: 'Font Awesome\ 5 Free';
                color: hubl("$first_color"); 
                opacity: 1;
                font-size: 26px;
                font-weight: 900;
                line-height: 48px;
                margin-top: -2px;
            }

            &:hover {

                opacity: 1;
            }
        }

        .slick-next {
            right: -70px;

            &:before {
                margin-left: 5px;
                content: "\f054";
            }

            @media (max-width: 1360px) {
                right: 20px;
            }
            @media (max-width: 767px) {
                right: 5px;
            }
        }

        .slick-prev {
            left: -70px;

            &:before {
                margin-right: 5px;
                content: "\f053";
            }

            @media (max-width: 1360px) {
                left: 20px;
            }
            @media (max-width: 767px) {
                left: 5px;
            }
        }
}





// mouse animation 

@keyframes mouse-wheel {
    0%{
        opacity: 1;
        transform: translateY(0); 
    }
    100% {
        opacity: 0;
        transform: translateY(3px); 
    } 
}


//
.semicircle-wrapper-white {
    width: 100%;
    overflow-x: hidden;
    transform: translateY(-40px);
    position: relative;
    z-index: 9;
    margin-bottom: -60px;
    .semicircle-inner {
        background-color: #fff;
        width: 110%;
        margin-left: -5%;
        height: 60px;
        border-top-left-radius: 50% 50px;
        border-top-right-radius: 50% 50px;
    }
}













