@font-face {
  font-family: 'PotassiumIcons';
  src:  url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/va-icons/va-icons.eot?64fzz1');
  src:  url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/va-icons/va-icons.eot#iefix') format('embedded-opentype'),
	    url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/va-icons/va-icons.ttf?64fzz1') format('truetype'),
	    url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/va-icons/va-icons.woff?64fzz1') format('woff'),
	    url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Vanadyl/icons/va-icons/va-icons.svg?64fzz1#va-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
	color: hubl("$first_color");
}

[class^="po-icon"], [class*=" po-icon"] {
  color: hubl("$first_color");
  display: inline-block;
  font-family: 'PotassiumIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.po-icon {

	&-arrow-right {
		&:before {
			content: "\e902";
		}
	}

	&-angle-left-circle {
		&:before {
			content: "\e900";
		}
	}

	&-angle-right-circle {
		&:before {
			content: "\e903";
		}
	}

	&-angle-left {
		&:before {
			content: "\e901";
		}
	}

	&-angle-right {
		&:before {
			content: "\e904";
		}
	}

	&-check {
		&:before {
			content: "\e90a";
		}
	}

	&-close {
		&:before {
			content: "\e90c";
		}
	}

	&-error-circle {
		&:before {
			content: "\e910";
		}
	}

	&-check-circle {
		&:before {
			content: "\e909";
		}
	}

	&-paper-dropbox {
		&:before {
			content: "\e916";
		}
	}

	&-gear {
		&:before {
			content: "\e911";
		}		
	}

	&-paper-plane {
		&:before {
			content: "\e917";
		}	
	}

	&-target {
		&:before {
			content: "\e923";
		}			
	}

	&-printer {
		&:before {
			content: "\e91f";
		}	
	}

	&-mapnmark {
		&:before {
			content: "\e915";
		}	
	}

	&-paper {
		&:before {
			content: "\e919";
		}
	}

	&-image {
		&:before {
			content: "\e912";
		}		
	}

	&-paperclip {
		&:before {
			content: "\e91a";
		}			
	}

	&-map-mark {
		&:before {
			content: "\e914";
		}	
	}

	&-edit {
		&:before {
			content: "\e90f";
		}		
	}

	&-magic-wand {
		&:before {
			content: "\e913";
		}
	}

	&-upload {
		&:before {
			content: "\e925";
		}			
	}

	&-download {
		&:before {
			content: "\e90e";
		}
	}

	&-diamond {
		&:before {
			content: "\e90d";
		}		
	}

	&-pig {
		&:before {
			content: "\e91d";
		}
	}

	&-cart {
		&:before {
			content: "\e907";
		}		
	}

	&-paper2 {
		&:before {
			content: "\e918";
		}			
	}

	&-pin {
		&:before {
			content: "\e91e";
		}			
	}

	&-white-paper {
		&:before {
			content: "\e926";
		}			
	}

	&-book {
		&:before {
			content: "\e906";
		}			
	}

	&-umbrella {
		&:before {
			content: "\e924";
		}		
	}

	&-chat {
		&:before {
			content: "\e908";
		}			
	}

	&-search {
		&:before {
			content: "\e922";
		}			
	}

	&-phone {
		&:before {
			content: "\e91c";
		}
	}

	&-quote-open {
		&:before {
			content: "\e921";
		}
	}

	&-quote-close {
		&:before {
			content: "\e920";
		}
	}

	&-pencil {
		&:before {
			content: "\e91b";
		}
	}

	&-board {
		&:before {
			content: "\e905";
		}
	}

	&-alarm {
		&:before {
			content: "\e90b";
		}
	}

	&-handshake {
		&:before {
			content: "\e929";
		}		
	}

	&-heart {
		&:before {
			content: "\e927";
		}			
	}

	&-chart {
		&:before {
			content: "\e928";
		}		
	}
}