header.header {
    background-color: hubl("$first_color");
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-transform: translateZ(0); // fix for jumping 
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        z-index: 5;
        bottom: 0px;
        background-color: #fff;
        opacity: 0.1;
    }
    .wrapper {
        max-width: 1200px;
        padding: 0 15px;
        width: 100%;
        margin: 0 auto;
        &>div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .logo-wrapper {
        font-size: 0px;
        line-height: 0em;
        a {
            display: block;
            img {
                max-width: 215px;
                padding: 20px 0px;
                max-height: 500px; // dla IE11
                height: 100%; // dla IE11
            }
        }
    } // MENU DESKTOP 
    .menu-container {
        width: 100%;
        display: flex;
        align-items: center;
        ul {
            display: block;
            li {
                padding-left: 0px;
                margin-bottom: 0px;
                a {
                    cursor: pointer;
                    display: block;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: em(16);
                    border-bottom: 1px solid transparent;
                    transition: 0.3s border linear;
                    font-weight: 400;
                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
            .hs-menu-depth-1 {
                &.hs-item-has-children {
                    &>a {
                        position: relative;
                        padding-right: 45px;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 8px;
                            background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Potassium/Icons/menu-down-arrow.png');
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .hs-menu-depth-2 {

                border-top: 1px solid transparent;

                &.hs-item-has-children {
                    &>a {
                        position: relative;
                        padding-right: 45px;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 8px;
                            background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Potassium/Icons/menu-down-arrow.png');
                            top: 50%;
                            right: 20px;
                            transform: translateY(-50%) rotate(-90deg);
                        }
                    }
                    &:last-child {

                        .hs-menu-children-wrapper {

                            li {
                                &:first-child {
                                    &:before {
                                        border-bottom: none;
                                    }
                                    &:after {
                                        height: calc(100% + 1px);
                                    }
                                }
                            }
                        }
                        &:hover {
                            border-bottom: none;
                        }
                    }
                    &:hover {
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                        ul {
                            border-top-left-radius: 0px;
                            li {
                                border-top-left-radius: 0px;
                            }
                        }
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: -1px;
                            right: -1px;
                            z-index: 2000;
                            height: calc(100% + 2px);
                            width: 8px;
                            background-color: hubl("$first_color");
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                        }
                    }
                }
                .hs-menu-children-wrapper {
                    padding-top: 0px;
                          left: 100%!important;
                    top: 0px!important;
                }
            }
            .hs-menu-depth-3 {
                &:first-child {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            .hs-menu-children-wrapper {
                margin-top: -1px;
                top: 10px;
                width: 100%;
                width: auto;
                background-color: transparent;
                border-radius: 10px;
                border: 1px solid #fff;
                padding-top: 45px;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                // cursor: pointer;
                 // pointer-events: none;
               
                li {
                    background-color: hubl("$first_color");
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    &:last-child {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-bottom: none;
                    }
                    a {
                        display: block;
                        color: fff;
                        border-bottom: none;
                    }
                }
            }
        }
    } 
    // MENU MOBILE
    .slicknav_menu {
        display: none;
        position: fixed;
         -webkit-transform: translateZ(0); // fix for jumping 
        z-index: 99999;
        width: 100%;
        right: 0px;
        padding: 0px;
        background: transparent;
        min-height: 58px;
        display: none;
        padding-bottom: 80px;

        .slicknav_btn {
            margin: 15px 10px 17px 0px; // margin: 0px;
            background: transparent;
            .slicknav_icon-bar {
                box-shadow: none;
            }
        }
        ul.slicknav_nav {
            margin-top: 0px;
            background: rgba(255, 255, 255, 1);
            background: transparent;
            padding: 0px 0px;
            overflow: auto;
            max-height: 100vh;
            width: 100%; // box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
            position: absolute;
            -webkit-transform: translateZ(0); // fix for jumping 

            li {
                padding-left: 0px;
                margin-bottom: 0px;
                background: #fff;
                &:before {
                    display: none;
                }
                &.hs-menu-depth-1:last-child {
                    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
                }
                a {
                    margin: 0px;
                    color: hubl("$first_color");
                    font-weight: 400;
                    font-size: 16px;
                    &:hover {
                        border-radius: 0px;
                        background-color: transparent; 
                        
                    }
                }
                &.search {
                    position: relative;
                    padding-left: 5px;
                    padding-right: 5px;
                    input[type="text"] {
                        color: hubl("$first_color");
                        font-size: 16px;
                        padding-bottom: 0px;
                        border-radius: 0px;
                        font-weight: 400;
                        padding-top: 17px;
                        font-family: hubl("$font");
                        padding: 8px 50px 8px 5px;
                        background-color: rgba(0, 0, 0, 0);
                        border: 0;
                        outline-width: 0px;
                        border-bottom: 1px solid hubl("$first_color");
                    }
                    &:before {
                        content: "\e922";
                        font-family: 'PotassiumIcons';
                        display: block;
                        color: hubl("$first_color");
                        padding-right: 15px;
                        font-size: 20px;
                        font-weight: bold;
                        bottom: 5px;
                        right: 0px;
                        left: auto;
                        position: absolute;
                    }
                    a {
                        display: none;
                    }
                }
            }
            li {
                .slicknav_arrow {
                    font-size: 0px;
                    position: relative;
                    &:after {
                        display: inline-block;
                        content: "\f054";
                        font-family: 'Font Awesome\ 5 Free';
                        font-weight: 900;
                        font-size: 10px;
                        padding-left: 15px;
                        top: -23px;
                        position: absolute;
                    }
                }
            }
            li.slicknav_open>a span.slicknav_arrow {
                &:after {
                    content: '\f078';
                }
            }
        }
    } // SEARCH BUTTON
    .google-search-module-btn {
        width: 16px;
        height: 16px;
        background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Potassium/Icons/menu-search.png');
        display: block;
        margin-left: 20px;
        cursor: pointer;
    }
}



// Search popup module 
.google-search-module-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(48, 48, 48, 0.93);
    color: #ffffff;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    &.show-popup {
        opacity: 1;
        visibility: visible;
        .google-search-module-label,
        .google-search-module-icon,
        input[type="text"] {
            opacity: 1!important;
            margin-top: 0px!important;
            border-radius: 0px;
        }
    }
    .container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .google-search-module-label {
            margin-right: 20px;
            transition: all 1s ease;
            transition-delay: 0.2s;
            opacity: 0;
            margin-top: 200px;
        }
        .google-search-module-form {
            width: 100%;
            input {
                background: transparent;
                border: none;
                color: #fff;
                font-size: em(22);
                transition: all 1s ease;
                transition-delay: 0.2s;
                opacity: 0;
                margin-top: 200px;
                border-bottom: 2px solid hubl("$first_color");
            }
        }
        .google-search-module-icon {
            margin-left: 20px;
            transition: all 1s ease;
            transition-delay: 0.2s;
            opacity: 0;
            margin-top: 200px;
            i {
                font-size: em(30);
                color: #fff;
                cursor: pointer;
                transition: 0.3s linear color;
                &:hover {
                    color: hubl("$first_color");
                }
            }
        }
    }


    .google-search-module-popup-close {
        position: absolute;
        top: 4%;
        right: 6%;
        color: #ffffff;
        transition: all 0.5s;

        cursor: pointer;
        i {
            color: #fff;
            font-size: em(40);
            transition: color 0.3s;
        }

        &:hover {
            i {
                color: hubl("$first_color");
            }
        }
    }
}


// enable/disable mobile menu
header.header.mobile {
    .wrapper {
        &>div {
            display: block;
        }
    }
    .menu-container {
        ul {
            display: none;
        }
    }
    .slicknav_menu {
        display: block;
    }
    .google-search-module-btn {
        display: none;
    }
}






















