textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

body {
    font-family: hubl("$font");
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    color: hubl("$main_font_color");
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 580px) {
        font-size: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.5em;
    color: hubl("$first_color");
    margin: 20px 0;
    word-break: break-word;
}

h2,
h3,
h4,
h5,
h6 {
    color: hubl("$first_color");
}

h1,
h2,
h3 {
    text-transform: uppercase
}

h1,
h2 {
    font-size: em(54);

    @media (max-width: 480px) {
        font-size: em(38);
    }
}

h1 {
    color: #fff;
}

h3 {
    font-size: em(32);
    font-weight: 700;
}

h4 {
    font-size: em(24);
}

p,
span,
strong,
li,
em,
blockquote,
pre {
    color: inherit;
}

p {
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    transition: all .3s linear;
}

a:not(.cta_button) {
    font-weight: 700;
    color: #757680;

    &:visited,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

.body-container {
    a:not(.cta_button) {
        position: relative;
        color: #c31231;
        transition: all 0.2s linear;

        &:visited,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &:after {
            content: "";
            display: block;
            width: 0px;
            height: 2px;
            background-color: #c31231;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: all 0.3s linear;
        }

        &:hover {

            &:after {
                width: 100%;
            }
        }
    }

    .typo-revers {
        a:not(.cta_button) {
            &:after {
                background-color: #fff;
            }
        }
    }

    .gm-style {
        a {
            &:after {
                display: none;
            }
        }
    }

    a.fancybox {
        &:after {
            display: none;
        }
    }
}


ul,
ol {
    padding-left: 25px;
}

li {
    list-style: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;

    &:before {
        display: inline-block;
        content: "●";
        color: hubl("$first_color");
        position: absolute;
        left: 0;
        top: 0;
    }
}

ol {
    counter-reset: list-section;

    li {

        &:before {
            counter-increment: list-section;
            content: counters(list-section, ".") ". ";
        }

        ol {
            padding-left: 0;

            li {
                padding-left: 60px
            }
        }
    }
}

.typo-revers {
    li {
        color: #fff;
        &:before {
            color: #fff;
        }
    }
    ol {
        color: #fff;
        &:before {
            color: #fff;
        }
    }
    a:not(.cta_button){
        color: #fff;
    }
}