@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500,700&subset=latin-ext'); 

$dev_version : true;

$variables : (
			  "$first_color": #757680, 			   // 1 hubl("$first_color") 
			  "$footer_color": #dfdbdb, 		   // 2 hubl("$footer_color") 
			  "$copyright_color": #424242, 		   // 3 hubl("$copyright_color")

			  "$cta_background": #fff,		   // 4 hubl("$cta_background")
			  "$cta_color": #fff,				   // 5 hubl("$cta_color")
			  "$cta_hover_background": #fff,	   // 6 hubl("$cta_hover_background")

			  "$cta_2_background": #fff,		   // 7 hubl("$cta_2_background")
			  "$cta_2_color":  #363636,			   // 8 hubl("$cta_2_color")
			  "$cta_2_hover_background": #757680,  // 9 hubl("$cta_2_hover_background")

			  "$main_font_color": #303030,		   // 10 hubl("$main_font_color")
			  "$second_font_color": #606060,	   // 11 hubl("$second_font_color")
			  "$font": "Noto Sans"					   //    hubl("$font")
			  );

$browser-context: 24; // Font size bazowy w px na body, html

// Przelicznik z px na em
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //
@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}


	 

			  

			