.po-about-us {
    .mfp-auto-cursor .mfp-content {
        max-width: 860px;
        height: auto;
    }
    .po-slider-section {
        text-align: center;
        padding-top: 80px;
    }
    .po-testimonial-section {
        width:100%;
        position: relative;
        padding-top:130px;
        overflow:hidden;
        h2 {
            text-align: center;
        }
        .po-testimonial-slider {
            margin-top:30px;
        }
        &:after {
            // display: block;
            display: none;
            content: "";
            width:110%;
            margin-left: -5%;
            height: 150px;
            background-color: hubl("$first_color");
            position:absolute;
            bottom:0px;
            z-index:-1;
            border-top-left-radius: 50% 40px;
            border-top-right-radius: 50% 40px;
        }
    }
    // footer {
    //     &.footer {
    //         .follow-us {
    //             .social-bar {
    //                 text-align: center;
    //                 justify-content: center;
    //                 > li {
    //                     &:first-child {
    //                         border-top: 1px solid rgba(255,255,255,0.2);
    //                         width:100%;
    //                         padding: 20px 0;
    //                     }
    //                     .social {
    //                         li {
    //                             padding: 0 45px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

// @media (max-width: 768px) {
//     .po-about-us {
//         footer {
//             &.footer {
//                 .follow-us {
//                     .social-bar {
//                         > li {
//                             .social {
//                                 li {
//                                     padding: 0 25px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (max-width: 450px) {
//     .po-about-us {
//         footer {
//             &.footer {
//                 .follow-us {
//                     .social-bar {
//                         > li {
//                             .social {
//                                 li {
//                                     padding: 0 15px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }