.icons-presentation{
	.lead-section{
		margin-top: 60px;
	}
	.icons-wrapper > span{
		display: flex;
		flex-wrap: wrap;
		margin: 60px 0px 90px;
		& > div{
			width: 50%;
			@media(max-width: 767px){
				width: 100%;
			}
		}
	}
}