// GLOBAL
.system-pages {
    .po-banner .banner-wrapper h1 {
        margin: 20px 5%;
        @media (max-width: 486px) {
            font-size: 42px;
        }
        @media (max-width: 486px) {
            font-size: 36px;
        }
    }
}

// FIRST PAGE
.update-confirmation {
    .content-wrapper {
        margin-top: 60px;
        margin-bottom: 140px;
    }
    .show-text {
        .page-header {
            text-align: center;
            margin-bottom: 20px;
            h1 {
                display: none;
            }
            h2 {
                font-size: em(30);
                text-transform: none;
            }
            p {
                font-size: 16px;
            }
            .email-edit.hs-input{
                width: 100%;
                max-width: 450px;
            }
            .email-edit:not(.hs-input){
                color: transparent;
                font-size: 0px;
                &:after{
                    font-size: 20px;
                    color: hubl("$main_font_color");
                    opacity: 0.3;
                    content: '\f044';
                    font-family: 'Font Awesome\ 5 Free';
                    transition: 0.3s all linear;
                }
                &:hover:after{
                        opacity: 1;
                        color: hubl("$first_color");
                    }
                
            }

        }
        .email-prefs {
            display: none;
        }
        #email-prefs-form strong{
                display: none;
            }

    }
    .prefs {
        #email-prefs-form strong{
               margin: 0 auto 40px auto;
               display: block;
               text-align: center;
            }
        .page-header {
            display: none;
        }
        .email-prefs {
            .header {
                color: hubl("$first_color");
                text-transform: none;
                font-size: em(32);
                margin-top: 30px;
                font-weight: 700;
                margin-bottom: 30px;
                margin-left: 0px;
                line-height: 1.5em;
            }
            .item {

                .item-inner {
                    background-color: #fff;
                    padding: 0;
                    border: none;
                    overflow: visible;
                    cursor: pointer;
                    &.hovered {
                        box-shadow: none;
                    }
                    &.selected {
                        background: none;
                        border: none;
                    }
                    .checkbox-row {
                        overflow: auto;
                        padding-left: 25px;
                        overflow: visible;
                        cursor: pointer;
                        input[type="checkbox"] {
                            opacity: 0;
                            z-index: 2;
                            font-size: 16px;
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0px;

                            &+span {
                                position: relative;
                                cursor: pointer;
                                color: hubl("$main_font_color");
                            }
                        }
                        input {
                            visibility: visible;
                            display: block;
                        }
                    }
                    p {
                        color: hubl("$second_font_color");
                    }
                }
            }

            .subscribe-options {

                input[type="checkbox"]+span {
                    margin-left: 29px;
                    @media (max-width: 475px) {
                        display: block;
                        margin-left: 35px;
                    }
                }




                input[type="checkbox"]:checked+span:after {
                    content: "\f00c";
                    color: hubl("$main_font_color");
                    font-size: 15px;
                }


                label {
                    position: relative;
                    display: inline-block;
                    // background:red;
                    cursor: pointer;
                    margin-left: 5px;
                    input {
                    	opacity: 0;
                        visibility: visible;
                        display: block;
                        position: absolute;
                        z-index: 40;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        margin-left: 0px;
                            -webkit-appearance: none;
                    }
                }
            }
        }
        input[type="checkbox"]+span {
            margin-left: 20px;
        }
        input[type="submit"] {
            font-family: hubl("$font");
            font-size: em(18);
            background-color: hubl("$first_color");
            border: 1px solid hubl("$first_color");
            color: #fff;
            border-radius: 20px;
            padding: 20px 40px;
            margin-top: 10px;
            cursor: pointer;
            transition: 0.3s all linear;
            appearance: none;
                  // margin: 10px auto 0px auto;
                  // display: block;
            &:hover {
                background-color: #fff;
                color: hubl("$first_color");
            }
        }
    }
    .form-subs {
        .form-title {
            color: hubl("$first_color");
            text-transform: none;
        }
        input[type="submit"] {
            width: 100%;
        }
    }
}

// SECOND PAGE
.subscription-confirmation {
    .content-wrapper {
        margin-top: 140px;
        margin-bottom: 140px;
        text-align: center;
        .widget-type-email_subscriptions_confirmation {
            h2 {
                font-size: em(30);
                text-transform: none;
            }
        }
    }
}

// THIRD PAGE
.unsubscribe-backup {
    .content-wrapper {
        margin-top: 60px;
        margin-bottom: 140px;
        text-align: center;
        h3 {
            font-size: em(30);
            text-transform: none;
        }
        input[type="email"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            font-size: em(18)!important;
            background-color: #fff;
            border: 1px solid #a1a1a1;
            border-radius: 20px;
            padding: 20px!important;
            margin-top: 10px;
            outline: none;
            font-family: hubl("$font")!important;
            width: 100%!important;
            max-width: 600px;
        }
        input[type="submit"] {
            font-family: hubl("$font");
            font-size: em(18);
            background-color: hubl("$first_color");
            border: 1px solid hubl("$first_color");
            color: #fff;
            border-radius: 20px;
            padding: 20px 40px;
            margin-top: 10px;
            cursor: pointer;
            transition: 0.3s all linear;
            appearance: none;
            &:hover {
                background-color: #fff;
                color: hubl("$first_color");
            }
        }
    }
}