.product{
    .po-hero-banner {
        .hero-banner-inner{
            // height: auto;
        }
        .cta_button {
            padding: 12px 0px;
            max-width: 272px;
            width: 100%;
            box-sizing: border-box;
            margin: 10px 15px;
        }
        .po-cta-tertiary {
            border-color: rgba(255, 255, 255, 0.3);
            background-color: hubl("$first_color");
            &:hover {
                background-color: #fff;
                color: hubl("$first_color");
            }
        }
        .po-cta-secondary {
            &:hover {
                border-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
    .po-ico-feed-box-wrapper {
        margin: 80px 0px;
    }

    .po-text-and-image-v2{
        margin: 140px 0px 120px 0px;
        
    }
    .po-txt-img-bot-radius{
        h2{
            margin-bottom: 40px;
        }
        .cta_button{
            margin-top: 47px;
        }
    }
    
    .testimonials-header {
        margin-top: 70px;
        margin-bottom: 35px;
        text-align: center;
    }
    .po-testimonial-slider {
        position: relative;
        bottom: -160px;
        margin-top: -160px;
    }
    .contact-us-header {
        text-align: center;
        margin-top: 115px;
        margin-bottom: 30px;
        h2 {
            margin-bottom: 5px;
        }
    }
    .contact-us {
        margin-bottom: 95px;
        h3 {
            color: #999;
            margin-bottom: 25px;
        }
    }
    .po-maplocation-wrapper {
        margin-top: 90px;
        h3 {
            color: #999;
            margin-bottom: 25px;
        }
        #map {
            width: 100%;
            height: 265px;
        }
    }
}