.landing:not(.thank-you){
	.menu-container{
		display: none!important;

	}
    header.header.mobile .slicknav_menu{
        display: none!important;

    }
}
.landing{
	.center-text {
        text-align: center;
    }
    .widget-type-form{
    	input[type="submit"]{
    		margin-top: 0px;
    	}
    }
}



