.landing-2{
	.content-wrapper{
		margin-top: 110px ;
		margin-bottom: 110px;
	}
	hr{
		margin: 45px auto 55px auto;
		display: block;
		border: none;
		border-top: 1px solid #d6d6d6;
		max-width: 870px;
	}
	.feed-box-warpper{
		& > span{
			display: flex;
			flex-wrap:wrap;
			& > div{
				width: 50%;
				margin-bottom: 40px;
				 @media (max-width: 480px) {
				 	width: 100%;
				 }
			}
		}
	}
}