.landing-1 {
	.content-wrapper{
		margin-top: 0px ;
		margin-bottom: 110px;
	}
    .po-banner {
        .banner-wrapper {
            padding-bottom: 165px;
            @media (max-width: 767px) {
                padding-bottom: 0px;
            }
        }
    }
    .text-image-text {
    	padding-top: 60px;
    	margin-bottom: 40px;
        .widget-type-linked_image {
            position: relative;
            top: -205px;
            margin-bottom: -185px;
            @media (max-width: 767px) {
                top: 0px;
                margin: 60px 0px;
                text-align: center;
            }
            img {
                box-shadow: 0px 14px 80px -10px rgba(0, 0, 0, 0.55);
            }
        }
    }
    .widget-type-rich_text {
    	p,span, h2, h3, h4{
        @media (max-width: 767px) {
            text-align: center!important;
        }
		}
    }
    
    
}