.po-related-post-module{
	position: relative;
	width: 100%;
	float: left;
	margin-bottom: 50px;
	* {
		outline: 0;
	}
	.slick-slider {
		margin-bottom: 50px;


		.slick-next {
            right: -80px;

            &:before {
            	font-family: 'Font Awesome\ 5 Free';
                margin-left: 5px;
                content: "\f054";
                font-weight: 900;
                font-size: 26px;
            }

            @media (max-width: 1170px) {
                right: 20px;
            }
            @media (max-width: 767px) {
                right: 5px;
            }
        }

        .slick-prev {
            left: -80px;

            &:before {
            	font-family: 'Font Awesome\ 5 Free';
                margin-right: 5px;
                content: "\f053";
                font-weight: 900;
                font-size: 26px;
            }

            @media (max-width: 1170px) {
                left: 20px;
            }
            @media (max-width: 767px) {
                left: 5px;
            }
        }




	}
	&__header {

		&-wrapper {
			position: relative;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: hubl_rgba('$first_color', .85);
			}

			.container {
				max-width: 510px;
			}
		}
		&-content {
			position: relative;
			color: #fff;
			padding: 70px 0 200px;
			text-align: center;

			h3, p, li {
				color: inherit;
			}
		}
	}
	&__posts-wrapper {
		position: relative;
		margin-top: -180px;

		.container {
			max-width: 1000px;
		}
	}
	&__slider {
		display: flex;
	}
	&__post {
		position: relative;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 30px;
		margin-bottom: 20px;
		@media (max-width: 991px){
			width: 100%;
		}
		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}

		&-image-link {
			display: block;

			&:hover {
				.va-3-blog-posts-section__post-image {
					background-size: auto 105%;
				}
			}

			&:after {
				display: none !important;
			}
		}

		&-image {
			box-sizing: border-box;
			width: 100%;
			max-width: 300px;
			height: 300px;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
			border: 5px solid #fff;
			transition: background-size .3s ease-in-out;
		}

		&-content {
			padding: 0 5px;
			max-width: 300px;
			margin: 0 auto;
			@media (max-width: 991px){
				max-width: 100%;
			}

			h4 {
				line-height: 1.21;
				font-weight: 600;
			}

			p {
				line-height: 1.5;
				font-size: 16px;
			}
		}

		&-read-more {
			position: absolute;
			font-size: 18px;
			display: inline-block;
			font-weight: 600;
			bottom: 0;
			left: 0px;
			padding: 0 0 0 5px;
			margin-top: 20px;
			@media (max-width: 991px){
				left:0px;
			}
			&:after{
				content: '\f101';
				font-family: 'Font Awesome\ 5 Free';
			}
		}
	}
}

@media (max-width: 991px) {
	.va-3-blog-posts-section {
		&__slider {
			display: block;
		}
		&__post {
			padding-bottom: 0;

			&-read-more {
				position: relative !important;
				padding: 0;

				&:after {
					left: 0 !important;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.va-3-blog-posts-section {
		&__header {
			&-content {
				padding: 45px 0 200px;
			}
		}
	}
}



// SLICK

.slick-vertical .slick-slide{
    border:none!important;
}
.va-slick-dots {

    position: absolute;
    display: block;
    width: 100%;
    bottom: -50px;
    right: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-align: center;

    * {
        outline: 0;
    }

    li {
        display: inline-block;
        margin: 0;
        font-size: 0;
        line-height: 0;
		padding-left: 0px;
		padding: 0 5px;
        button {
            width: 9px;
            height: 9px;
            padding: 0;
            margin: 4px;
            border: none;
            outline: 0;
            background-color: hubl_rgba('$first_color',.3);
            border-radius: 50%;
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            transition: background-color .3s linear;

            &:hover {
               background-color: hubl_rgba('$first_color',.6);
            }
        }

        &.slick-active {

            button {
                background-color: hubl_rgba('$first_color',1);
            }
        }
    }
}









