.naed.case-study-single{
	

	// Vandyl style

	// picture + text blocks

	.va-picture-text-blocks{
			padding-bottom: 60px;
			position: relative;
			z-index: 10;
			top: -270px;
			margin-bottom: -270px;
			@media (max-width: 560px){
				top: -230px;
				margin-bottom: -230px;
		    }
			// @media (max-width: 450px){
			// 	top: -160px;
			// 	margin-bottom: -160px;
		 //    }
			.thumb-image{
				
				width: 100%;
				text-align: center;
			}
			.content{
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				margin-top: 50px;
				@media (max-width: 1024px){
					flex-direction: column;
					margin-top: 25px;
			    }
			    a{
					
				    // font-size: 16px;
				    // line-height: 24px;
				    display: inline-block;
				    position: relative;
						@media (max-width: 479px){
							order: 1;
							margin-bottom: 20px;
					    }
						&:after{
							content: "";
							display: block;
							width: 0px;
							height: 2px;
							background-color: hubl("$first_color");
							position: absolute;
							left:0;
							bottom:0;
							transition: all 0.3s linear;
						}
						&:hover{
							//border-color: hubl("$first_color");
							&:after{
								width: 100%;
							}
						}

				}
				.left{
					width: 65%;
					padding-right: 25px;
					@media (max-width: 1024px){
						width: 100%;
				    }
					h2,h1{
						// font-size: 36px;
						margin-top: 0px;
						margin-bottom: 0px;
						color: hubl("$main_font_color"); //hubl("$second_font_color")
						font-weight: 500;
					}
					p,span,li{
						color: hubl("$second_font_color");
						// font-size: 16px;
						// line-height: 24px;
					}
					a{
						color: #c31231;
						&:after{
							background-color:#c31231;
						}
					}

				}
				.right{
					width: 35%;
					margin-top: 60px;
					@media (max-width: 1024px){
						width: 100%;
						margin-top: 10px;
				    }
					p{
						// font-size: 16px;
						// line-height: 24px;
						strong{
							color: hubl("$font_color");
						}
					}
					a{
						color: #c31231;
						&:after{
							background-color:#c31231;
						}
					}

					
				}
			}
	}

	//  color section

	.blue-section{
		background-color:  hubl("$first_color");
		width: 100%;
		padding: 82px 0px;
		.va-image-and-text{
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 1024px){
				flex-direction: column;
		    }
			& > div{
				width: 50%;
				@media (max-width: 1024px){
					width: 100%;
					margin-left: 0px;
			    }
			    img{
			    	box-shadow: none;
					border-radius: 5px;
					text-align: center;
					@media (max-width: 1024px){
						margin-top: 20px;
						

				    }
			    }
			    &:last-child{
			    	text-align: right;
			    	@media (max-width: 1024px){
						text-align: center;
				    }
			    }
			}
			.widget-type-rich_text{
				padding-right: 40px;
				// font-size: 16px;
				// line-height: 24px;
				h2,h3{
					// font-size: 36px;
					// line-height: 53px;
					// font-weight: 400;
					margin-top: 0px;
					color: #fff;
					text-transform: none;
				}
				ul,
                ol {
                    margin-left: 0px;
                    color: #fff;
                    margin-top: 21px;
                    margin-bottom: 21px;
                    li {
                        font-weight: 200;
                        margin-bottom: 23px;
                        &:before {
                            color: #fff;
                            padding-left: 10px;
                        }
                    }
                }
				p{
					color: #fff;
				}
				
			}
		}
	}
	// SLIDE TWO SECTION

	.va-hero-slide-two-section{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 375px;
		@media (max-width: 1024px){
			flex-direction: column;
			justify-content: center;
	    }
		.left{
			width: 50%;
			padding-right: 20px;
			padding-left: 20px;
			@media (max-width: 1024px){
				width: 100%;
		    }
			img{
				box-shadow: 0px 0px 35px 0px rgba(188,200,209,0.70);
				height: auto;
				@media (max-width: 1024px){
					//margin: 0 auto;
					margin: 30px 0px;
			    }
				
			}
		}
		.right{
			width: 50%;
			padding-left: 20px;
			// font-size: 16px;
			// line-height: 24px;
			color: hubl("$second_font_color");
			@media (max-width: 1024px){
				width: 100%;
				padding-bottom: 30px;
		    }
		    h4{
		    	margin-top: 0px;
		    	// font-size: 36px;
		    	margin-bottom: 25px;
		    	color: hubl("$main_font_color"); 
		    }
		    strong{
		    	
		    	color: hubl("$main_font_color"); //hubl("$second_font_color")
		    }
		    .block-list{
		    	span{
		    		color: hubl("$font2_color");
		    		font-weight: 300;
		    	}
		    	ul{
		    		list-style: none;
		    		display: flex;
		    		flex-wrap: wrap;
		    		justify-content: flex-start;
		    		align-items: flex-start;
		    		padding-left: 0px;
		    		li{
		    			width: 49%;
		    			color: hubl("$font2_color");
		    			margin-bottom: 15px;
		    			font-weight: 300;
		    			padding-left: 0px;
		    			&:before{
		    				display: none;

		    			}
		    			@media (max-width: 460px){
							width: 100%;
							margin-bottom: 30px;
					    }
		    			strong{
		    				font-size: 36px;
		    				line-height: 38px;
		    				margin: 0px;
		    				font-weight: 500;
		    			}
		    		}
		    	}
		    }
		}
	}

	// SLIDE ONE SECTION

	.va-hero-slide-one-section{
		width: 100%;
		min-height: 275px;
		.content{
			width: 100%;
			padding-left: 20px;
			// font-size: 16px;
			// line-height: 24px;
			color: hubl("$second_font_color");
			@media (max-width: 1024px){
				width: 100%;
				padding-bottom: 30px;
		    }

		    i, .icon-wrapper {
		    	color:#c31231;
		    	font-size: 60px;
		    	display: block;
		    }

		    .icon-wrapper {
		    	margin-bottom: 20px;
		    }

		    h4{
		    	margin-top: 0px;
		    	// font-size: 36px;
		    	margin-bottom: 25px;
		    	color: hubl("$main_font_color"); 
		    }
		    strong{
		    	
		    	color: hubl("$main_font_color"); //hubl("$second_font_color")
		    }
		    .block-list{
		    	span{
		    		color: hubl("$font2_color");
		    		font-weight: 300;
		    	}
		    	ul{
		    		list-style: none;
		    		display: flex;
		    		flex-wrap: wrap;
		    		justify-content: flex-start;
		    		align-items: flex-start;
		    		padding-left: 0px;
		    		li{
		    			width: 49%;
		    			color: hubl("$font2_color");
		    			margin-bottom: 15px;
		    			font-weight: 300;
		    			padding-left: 0px;
		    			&:before{
		    				display: none;

		    			}
		    			@media (max-width: 460px){
							width: 100%;
							margin-bottom: 30px;
					    }
		    			strong{
		    				font-size: 36px;
		    				line-height: 38px;
		    				margin: 0px;
		    				font-weight: 500;
		    			}
		    		}
		    	}
		    }
		}
	}

	// SLIDER
	.slider-wrapper{
		padding: 85px 0px;
		.va-hero-slide-two-section{
			margin-bottom: 70px;
		}
		.slider-content{
			//margin-bottom: 40px;
			.slick-slide {
				outline: none !important;
			}
			.va-slick-dots {
			    bottom: -30px;
			    button {
                    width: 9px;
                    height: 9px;
                    margin: 5px 3.5px;

                }
			}
			.slick-next, .slick-prev {
			    font-size: 20px;
			    line-height: 22px;
			    top: calc(100% + 20px);
			    bottom: 0px;
			    width: auto;
			    height: 20px;
			    margin-top: -10px;
			    cursor: pointer;
			    color: hubl("$main_font_color"); //hubl("$second_font_color")
			    border: none;
			    outline: 0;
			    background: 0 0;
			    z-index: 30;
			    transition: all 0.3s linear;
			    border-radius: 0px;
			    box-shadow: none;
			    opacity: 1;
			    &:hover{
			    	color: hubl("$second_font_color");
			    	opacity: 0.75;
			    }
			}
			.slick-arrow:before,.slick-arrow:after {
			    font-size: 16px;
			    line-height: 1;
			    opacity: 1;
			    color: hubl("$main_font_color"); 
			    bottom: 0px;
			    transition: all 0.3s linear;
			}
			.slick-arrow:before {
			    font-size: 16px;
			    line-height: 1;
			    opacity: 1;
			    color: hubl("$main_font_color"); 
			    bottom: 0px;
			}
			.slick-next:before{
			    content: '';
			}
			.slick-next{
				right: 0px;
				&:after{
				   font-family: 'Font Awesome\ 5 Free';
				   content: '\f101';
				   margin-left: 5px;
				   opacity: 1;
				   line-height: 1;
    			   font-size: 16px;
    			   font-weight: 900;
				}
				&:hover{
					&:after{
						color: hubl("$main_font_color"); 
						opacity: .75;
					}
				}
			}
			.slick-prev{
				left: 0px;
				&:before{
					font-family: 'Font Awesome\ 5 Free';
					content: '\f100';
					margin-right: 5px;
					font-weight: 900;
				}
				&:hover{
					&:before{
						color: hubl("$main_font_color"); 
						opacity: .75;
					}
				}
			} 	
		}
	}


	// FOOTER
	// .semicircle-wrapper {
 //        width: 100%;
 //        overflow-x: hidden;
 //        .semicircle-inner {
 //            background-color: hubl("$first_color");
 //            width: 110%;
 //            margin-left: -5%;
 //            height: 150px;
 //            border-top-left-radius: 50% 50px;
 //            border-top-right-radius: 50% 50px;
 //        }
 //    }
    
	// footer {
 //        &.footer {
 //            .follow-us {
 //                .social-bar {
 //                    text-align: center;
 //                    justify-content: center;
 //                    > li {
 //                        &:first-child {
 //                            border-top: 1px solid rgba(255,255,255,0.2);
 //                            width:100%;
 //                            padding: 20px 0;
 //                        }
 //                        .social {
 //                            li {
 //                                padding: 0 45px;
 //                            }
 //                        }
 //                    }
 //                }
 //            }
 //        }
 //    }
}