.case-study-overview {
	//HERO BANNER
	.po-hero-banner{
		.hero-banner-inner{
			width: 100%;
			border-radius: 0px;
			margin: 0 auto;
			background-position: center center;
			background-size: cover;
			position: relative;
			z-index: 1;
			&:before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background-color: hubl("$first_color"); 
				opacity: 0.8;
			}
			.content{
				z-index: 5;
				position: relative;
			}
			.mouse{
				display: none;
			}
		}
	}

	// OVERVIEW SECTION
	.overview-wrapper{
		padding: 0px 0px 100px 0px;
		h2{
			text-align: center;
			font-size: em(36);
			color:hubl("$main_font_color");
			margin-bottom: 80px;
		}
	

		.po-privacy-policy-row{
			margin-bottom: 80px;

			.right{
				border-left: none;
			}
			p{
				margin-bottom: 0px;
			}
		}
	}
	// SLIDER WRAPPER
	.slider-wrapper{
		background-color: hubl("$first_color");
		padding: 70px 0px;
		color: #fff;

		.slider-clients{
			background-color: #fff;
			padding: 40px 65px 56px 65px;
			border-radius: 20px;
			.slide--client {
				padding: 0px 25px;
				.avatar{
					width: 144px;
					height: 144px;
					background-size: cover;
					background-position: center center;
					margin: 0 auto;
					border-radius: 50%;

				}
				h3{
					text-align: center;
					text-transform: none;
					color:hubl("$main_font_color");
					margin-bottom: 35px;
				}
				p{
					text-align: center;
					color:hubl("$second_font_color");
					font-style: italic;
				}
			}
			.va-slick-dots{
				bottom: -40px;
				li{
					padding: 0px;
				}
			}
		}
		
		.widget-type-rich_text{
			color: #fff;
			h2,h3{
				color: #fff;
				text-transform: none;
			}
			p,span,li{
				margin-bottom: 30px;
			}
			blockquote{
				font-style: italic;
				margin: 20px 0px;
				&:before{
					content: '';
					background-image: url('//cdn2.hubspot.net/hubfs/2859863/CR%20FILES/quote.png');
					width: 35px;
					height: 24px;
					display: block;
					margin-bottom: 25px;

				}
			}
		}
	}
	// CASE STUDIES SECTION
	.case-study-wrapper{
		h2{
			text-align: center;
			font-size: em(36);
			color:hubl("$main_font_color");
		}
	}
	// BLOG FEED 
	.va-3-blog-posts-section{
		margin-bottom: 90px;
	}
}