.naed.case-study{


	// Vandyl CSS

	.case-study-wrapper{
		padding: 48px 0px 0px 0px;

		@media (max-width: 767px){
			padding: 40px 0px 0px 0px;
	    }
	    .categories-list-wrapper{
	    	ul{
	    		display: flex;
	    		justify-content: center;
	    		flex-wrap: wrap;
	    		margin-top: 26px;
	    		margin-bottom: 72px;
	    		li{
	    			margin: 10px 40px;
	    			cursor: pointer;
					transition: all 0.2s linear;
					position: relative;
					color: hubl("$first_color");
					font-weight: 300;
					font-size: 18px;
					padding-left: 0px;
	    			@media (max-width: 767px){
						margin: 10px 20px;
				    }
				    @media (max-width: 480px){
						margin: 10px 10px;
				    }
				    &:before{
				    	display: none;
				    }
	    			&.active{
						color: #c31231;
						&:after{
							content: "";
							display: block;
							width: 100%;
							height: 2px;
							background-color: #c31231;
							position: absolute;
							left:0;
							bottom:0;
						}

						&:hover {
							color: #c31231;
						}

					}
					&:after{
						content: "";
						display: block;
						width: 0px;
						height: 2px;
						background-color: hubl("$first_color");
						position: absolute;
						left:0;
						bottom:0;
						transition: all 0.3s linear;
					}
					&:hover{
						color: hubl("$first_color");
						&:after{
							width: 100%;
						}
					}
	    		}
	    	}
	    }

	    .box-listing{
	    	display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;		
			transition: opacity 0.5s ease-in-out;
			margin-bottom: 50px;
			.post-item-wrapper{
					width: 33.3%;
					//padding-bottom: 33.3%;
					@media (max-width: 1024px){
						width: 50%;
						//padding-bottom:  50%;
						
				    }
				    @media (max-width: 767px){
						width: 100%;
						//padding-bottom: 100%;
				    }

				.post-item{
					width: 96%;
					padding-bottom: 96%;
					background-position: center center;
					background-size: cover;
					display: table;
					position: relative;
					z-index: 0;
					margin: 0 auto;
					margin-bottom: 15px;
					overflow: hidden;

					@media (max-width: 400px) {
						min-height: 400px;
					}

				    .mask-img{
						position: absolute;
						z-index: 1;
						width: 100%;
						height: 100%;
						background-color: rgba(51,51,51, 0.6);
				    }
					.content{
						position: absolute;
						z-index: 3;
						text-align: center;
						h3{
							font-size: 26px;
							text-transform: none;
							line-height: 1.2;
							display: block;
							a{
								color: #fff;
								opacity: 1;

								&:after {
									display: none;
								}
							}
							@media (max-width: 480px){
								font-size: 22px;
						    }
						}
						p{
							color: #fff;
							font-size: 16px;
							line-height: 24px;
							margin-bottom: 38px;

							@media (max-width: 767px) {
								margin-bottom: 20px;
							}

							@media (max-width: 480px) {
								font-size: 14px;
							}
						}
						.more-link{
							background-color: #fff;
							color:hubl("$cta_2_color");
							padding: 17px 25px;
							border-radius: 20px;
							min-width: 145px;
							// min-height: 57px;
							font-size: 16px;
							display: inline-block;
							font-weight: 300;
							text-transform: uppercase;
							text-decoration: none;
							&:visited,
							&:focus,
							&:active {
							  color: hubl("$cta_2_color");
							 }
							 @media (max-width: 480px){
								padding: 10px 20px;
								border-radius: 15px;
								font-size: 14px;
						    }
						}
					}
				}		
			}
			
			
			/* ******** HOVER ******** */
	
			.post-item{
			  &:hover .mask {
			    &.hover-left {
			      left: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-right {
			      right: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-top {
			      left: 0;
			      top: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			    &.hover-bottom {
			      left: 0;
			      bottom: 0;
			      height: 100%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			      -webkit-transition-delay: 0s;
			      -moz-transition-delay: 0s;
			      -o-transition-delay: 0s;
			      transition-delay: 0s;
			    }
			  }
			  .mask {
			    position: absolute;
			    height: 0px;
			    width: 0px;
			    background: hubl_rgba("$first_color",0.7);
			    z-index: 2;
			    overflow: hidden;
			    &.hover-left {
			      left: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-right {
			      right: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-top {
			      left: auto;
			      top: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hover-bottom {
			      left: auto;
			      bottom: auto;
			      height: 100%;
			      width: 100%;
			    }
			    &.hide-left {
			      left: 0;
			      bottom: 0;
			      top: auto;
			      right: auto;
			      height: 100%;
			      width: 0%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;

			    }
			    &.hide-right {
			      right: 0;
			      bottom: 0;
			      top: auto;
			      left: auto;
			      height: 100%;
			      width: 0%;
			      -webkit-transition: width 0.3s ease-in-out;
			      -o-transition: width 0.3s ease-in-out;
			      -moz-transition: width 0.3s ease-in-out;
			      transition: width 0.3s ease-in-out;
			    }
			    &.hide-top {
			      left: 0;
			      top: 0;
			      height: 0%;
			      width: 100%;
			      -webkit-transition: height 0.3s ease-in-out;
			      -o-transition: height 0.3s ease-in-out;
			      -moz-transition: height 0.3s ease-in-out;
			      transition: height 0.3s ease-in-out;
			    }
			    &.hide-bottom {
				      left: 0;
				      bottom: 0;
				      height: 0%;
				      width: 100%;
				      -webkit-transition: height 0.3s ease-in-out;
				      -o-transition: height 0.3s ease-in-out;
				      -moz-transition: height 0.3s ease-in-out;
				      transition: height 0.3s ease-in-out;
				    }
				  }
			  	.content {
			  		top: 50%;
			  		left: 50%;
			  		transform: translate(-50%,-50%); 
			  		width: 100%;
			  		//max-height: 100px;
			  		overflow: hidden;
			  		padding: 0px 20px;
			  		transition: 0.6s max-height linear;
				      &.visible {
				      	max-height: 500px!important;
				      	padding-bottom: 5px;
				      }
			    }
			}
		}

		.pagination {
	        width: 100%;
	        text-align: center;
	        margin: 8px 0px 80px 0px;
	        .disabled {
	            display: none;
	        }
	        li {
	            display: inline-block;
	            background-color: #fff;
	             &:before{
				    	display: none;
				    }
				    padding-left: 0px;
	            a {
	                border-radius: 5px;
	                overflow: hidden;
	                color: hubl("$font_color");
	                display: block;
	                border: solid 1px transparent;
	                height: 27px;
	                width: 26px;
	                line-height: 25px;
	                text-align: center;
	                font-size: 16px;
	                overflow: hidden;
	                margin: 0 3px;
	                font-weight: 400;
	                &:after {
	                	display: none;
	                }
	                i{
	                	 color: hubl("$font_color");
	                }
	                &:hover {
	                    border: solid 1px hubl("$first_color"); 
	                    color: hubl("$first_color"); 
	                    i{
	                    	color: hubl("$first_color"); 
	                    }
	                }
	            }
	            &.active {
	                a {
	                    background-color: hubl("$first_color"); 
	                    border: solid 1px hubl("$first_color");
	                    color: #fff;

	                }
	            }
				

	        }
    	}
	}


	//
	.semicircle-wrapper {
        width: 100%;
        overflow-x: hidden;
        .semicircle-inner {
            background-color: hubl("$first_color");
            width: 110%;
            margin-left: -5%;
            height: 150px;
            border-top-left-radius: 50% 50px;
            border-top-right-radius: 50% 50px;
        }
    }
}