body #cssmenu {
	border-radius: 0;
	background: transparent;
	font-family: hubl("$font");
	box-shadow: none;
	border: 0;

	ul {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		li {
			margin: 15px 15px;

			@media (max-width: 580px) {
				width: 100%;
				text-align: center;
			}

			&:before, &:after {
				display: none;
			}
			a {
				padding: 5px 0;
				color: #757680;

				&:after {
					display: block;
					// background-color: #757680;
				}

				&:hover {
					background: transparent;
					color: #757680;
				}
			}
		}
	}
}