.naed {
    header.header-top{
        background-color: #c31231;
        width: 100%;
        position: fixed;
        z-index: 9999;
        top:0px;
        transition: 0.5s top;
        -webkit-transform: translateZ(0); // fix for jumping 

        @media (max-width: 767px) {
            display: none;
        }
        .wrapper{
            max-width: 1200px;
            padding: 0 15px;
            width: 100%;
            margin: 0 auto;
            height: 100%;
        }
        .widget-type-simple_menu{
            height: 100%;

            ul{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 40px;
                @media (max-width: 486px){
                    justify-content: space-between;
                }
                li{
                    padding-left: 0px;
                    margin-bottom: 0px;
                    display: inline-block;
                    width: auto;
                    &:before{
                        display: none;
                    }
                    a {
                        padding: 0px 15px;
                        cursor: pointer;
                        display: block;
                        color: #fff;
                        text-transform: none;
                        font-size: em(16);
                        transition: 0.3s opacity linear;
                        font-weight: 400;
                        &:hover {
                            opacity: 0.8;
                        }
                        @media (max-width: 1360px){
                            font-size: em(14);
                        }
                        @media (max-width: 486px){
                            padding: 0px;
                            text-align: center;
                            font-size: em(14);
                        }
                    }
                    &:last-child{
                        a{
                            padding-right: 0px;

                        }
                    }
                }
            }
        }
        &.scroll{
            top: -40px;        
        }
    }

    header.header {
        background-color: hubl("$first_color");
        box-sizing: border-box;
        width: 100%;
        position: fixed;
        left: 0px;
        top: 40px;
        z-index: 9999;
        transition: 0.5s top;
        -webkit-transform: translateZ(0); // fix for jumping 
        @media (max-width: 767px) {
            top: 0;
        }
        &.scroll{
            top: 0px;        
        }
        .logo-wrapper {
            a {
                img {
                    max-width: 85px;
                    padding: 20px 0px;
                }
            }
        }

        .menu-container {
            width: 100%;
            display: flex;
            align-items: center;
            ul {
                display: block;
                li {
                    padding-left: 0px;
                    margin-bottom: 0px;
                    &:before{
                        display: none;
                    }
                    a {
                        cursor: pointer;
                        display: block;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: em(16);                      
                        border-bottom: none;
                        transition: 0.3s border linear;
                        font-weight: 400;
                        &:hover {
                            border-bottom: 1px solid #fff;
                        }
                        @media (max-width: 1360px){
                            font-size: em(14);
                            padding: 5px 10px;
                        }
                    }
                    &.hs-menu-depth-1 {
	                	a{
                            
	                		 &:hover {
		                             border-bottom: none;
		                      }
	                	}
	                }
	                &:last-child,
                    &:nth-last-child(2){
                        &.hs-menu-depth-1{
                            ul{
                              right: 0;
                              left: auto;
                            }
                        }
	                	.hs-menu-depth-2.hs-item-has-children{
	                		&:hover:after{
	                			right: auto;
	                			left: -1px;
	                		}
	                		&:hover ul{
	                			border-top-left-radius: 10px;
								    border-top-right-radius: 0px;
		                			li:first-child {
								    border-top-left-radius: 10px;
								    border-top-right-radius: 0px;
								}
	                		} 
	                		.hs-menu-children-wrapper{
	                			left: auto !important;
   								right: 100% !important;
                                 &.one-element{
                                 border-bottom-right-radius: 0px;
                                   border-bottom-left-radius: 10px;
                                   li{
                                    border-bottom-right-radius: 0px;
                                        border-bottom-left-radius: 10px;
                                   }
                                }
   								
	                		}

	                	}
	                }

                }
                .hs-menu-depth-1 {
                	&>a {
                        line-height: 36px;
                    }
                    &.hs-item-has-children {
                        &>a {
                            position: relative;
                            padding-right: 45px;
                            line-height: 36px;
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 12px;
                                height: 8px;
                                background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Potassium/Icons/menu-down-arrow.png');
                                top: 50%;
                                right: 20px;
                                transform: translateY(-50%);
                            }
                            
                        }
                    }
                }
                .hs-menu-depth-2 {

                    border-top: 1px solid transparent;

                    &.hs-item-has-children {
                        &>a {
                            position: relative;
                            padding-right: 45px;
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 12px;
                                height: 8px;
                                background-image: url('https://cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo%20Potassium/Icons/menu-down-arrow.png');
                                top: 50%;
                                right: 20px;
                                transform: translateY(-50%) rotate(-90deg);
                            }
                        }
                        &:first-child:hover{
                        	border-top: none;
                        }
                        .hs-menu-children-wrapper.one-element{
                            
                           border-bottom-left-radius: 0px;
                           li{
                                border-bottom-left-radius: 0px;
                           }
                        }
                        &:last-child {

                            .hs-menu-children-wrapper {

                                li {
                                    &:first-child {
                                        &:before {
                                            border-bottom: none;
                                        }
                                        &:after {
                                            height: calc(100% + 1px);
                                        }
                                    }
                                }
                            }
                            &:hover {
                                border-bottom: none;
                            }
                        }
                        &:hover {
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                           
                            ul {
                                border-top-left-radius: 0px;
                                li {
                                    border-top-left-radius: 0px;
                                }
                            }
                            &:after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: -1px;
                                right: -1px;
                                z-index: 2000;
                                height: calc(100% + 2px);
                                width: 8px;
                                background-color: hubl("$first_color");
                                border-top: 1px solid #fff;
                                border-bottom: 1px solid #fff;
                            }
                        }
                    }
                    .hs-menu-children-wrapper {
                        padding-top: 0px;
                        left: 100%!important;
                        top: 0px!important;
                    }
                }
                .hs-menu-depth-3 {
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                }

                //GLOBAL CHILDERN MENU
                .hs-menu-children-wrapper {
                    margin-top: -1px;

                    top: 57px;
                    width: 100%;
                    width: auto;
                    background-color: transparent;
                    border-radius: 10px;
                    border: 1px solid #fff;
                    padding-top: 0px;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); // cursor: pointer;
                      @media (max-width: 1360px){
                           top: 45px;
                        }
                    li {
                        background-color: hubl("$first_color");
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                        &:first-child {
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        &:last-child {
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            border-bottom: none;
                        }

                        &:hover {

                            > a {
                                opacity: .6;
                                text-shadow: 0px 0px 2px rgba(0, 0, 0, .8);
                            }
                        }

                        a {
                            display: block;
                            color: #fff;
                            border-bottom: none;
                            transition: all .3s linear;
                        }
                    }
                }
            }
        }  
        // MENU MOBILE
        .slicknav_menu {
            display: none;
            position: fixed;
             -webkit-transform: translateZ(0); // fix for jumping 
            z-index: 99999;
            width: 100%;
            right: 0px;
            padding: 0px;
            background: transparent;
            min-height: 90px;
            display: none;
            padding-bottom: 0px;

            .slicknav_btn {
                margin: 32px 10px 32px 0px; // margin: 0px;
                background: transparent;
                .slicknav_icon-bar {
                    box-shadow: none;
                }
            }
            ul.slicknav_nav {
                margin-top: 0px;
                background: rgba(255, 255, 255, 1);
                background: transparent;
                padding: 0px 0px;
                overflow: auto;
                max-height: 100vh;
                width: 100%; // box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
                position: absolute;
                -webkit-transform: translateZ(0); // fix for jumping 

                li {
                    padding-left: 0px;
                    margin-bottom: 0px;
                    background: #fff;
                    &:before {
                        display: none;
                    }
                    &.hs-menu-depth-1:last-child {
                        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
                    }
                    a {
                        margin: 0px;
                        color: hubl("$first_color");
                        font-weight: 400;
                        font-size: 16px;
                        &:hover {
                            border-radius: 0px;
                            background-color: transparent; 
                            
                        }
                    }
                    &.search {
                        position: relative;
                        padding-left: 5px;
                        padding-right: 5px;
                        input[type="text"] {
                            color: hubl("$first_color");
                            font-size: 16px;
                            padding-bottom: 0px;
                            border-radius: 0px;
                            font-weight: 400;
                            padding-top: 17px;
                            font-family: hubl("$font");
                            padding: 8px 50px 8px 5px;
                            background-color: rgba(0, 0, 0, 0);
                            border: 0;
                            outline-width: 0px;
                            border-bottom: 1px solid hubl("$first_color");
                        }
                        &:before {
                            content: "\e922";
                            font-family: 'PotassiumIcons';
                            display: block;
                            color: hubl("$first_color");
                            padding-right: 15px;
                            font-size: 20px;
                            font-weight: bold;
                            bottom: 0px;
                            margin-top: 10px;
                            right: 0px;
                            left: auto;
                            position: absolute;
                        }
                        a {
                            display: none;
                        }
                    }
                }
                li.header-top--item {
                    display: none;

                    @media (max-width: 767px) {
                        display: block;
                    }
                }
                li {
                    .slicknav_arrow {
                        font-size: 0px;
                        position: relative;
                        &:after {
                            display: inline-block;
                            content: "\f054";
                            font-family: 'Font Awesome\ 5 Free';
                            font-weight: 900;
                            font-size: 10px;
                            padding-left: 15px;
                            top: -12px;
                            position: absolute;
                        }
                    }
                }
                li.slicknav_open>a span.slicknav_arrow {
                    &:after {
                        content: '\f078';
                    }
                }
            }
        }

    }

    
    // enable/disable mobile menu
    header.header.mobile {
        .wrapper {
            &>div {
                display: block;
            }
        }
        .menu-container {
            ul {
                display: none;
            }
        }
        .slicknav_menu {
            display: block;
        }
        .google-search-module-btn {
            display: none;
        }
    }

    .body-container-wrapper{
        padding-top: 130px;

        @media (max-width: 767px) {
            padding-top: 90px;
        }
    }

}