.po-hero-video-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 0 5%;
    min-height: 600px;
    background-color: hubl("$first_color"); 
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 600px;
    } // EDGE
    @supports (-ms-ime-align:auto) {
        height: 600px;
    }
	.mask{
		position: absolute;
		width: 100%;
		height: 100%;
		top:0px;
		left:0px;
		background-color: #000;
		z-index: 2;
	}
	.background-video-wrapper{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		video{
			object-fit: cover;
		    width: 100%;
		    height: 100%;
		}
	}
	.content{
		position: relative;
		z-index: 3;
	    h1 {
	        margin: 20px 0;
	        text-align: center;
	    }
	    p {
	        margin: 0 0 20px 0;
	        color: white;
	        text-align: center;
	    }
	}
}