.naed-home {
    .po-hero-video-banner {
        margin-bottom: -30px;
        overflow: hidden;
        .content {
            margin-top: -15px;
        }
    }
    .po-cta-banner {
        position: relative;
        z-index: 350;
    }
    .po-portfolio-item-wrapper{
    	position: relative;
        z-index: 355;
    }
    .feeds-section {
        padding: 90px 0px;
    }
    .recent-blog-post-wrapper{

        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
        .title{
            margin-bottom: 30px;
        }
    }
    .semicircle-wrapper {
        width: 100%;
        overflow-x: hidden;
        .semicircle-inner {
            background-color: hubl("$first_color");
            width: 110%;
            margin-left: -5%;
            height: 150px;
            border-top-left-radius: 50% 50px;
            border-top-right-radius: 50% 50px;
        }
    }
}