.po-blog {
    .content-wrapper {
        padding:100px 0;

        //////////// CONTENT /////////////////
        .blog-content {

            ////////////// BANNER GLOBALS ///////////////////
            .post {

                .post-image  {

                    .mask {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: hubl("$first_color");
                        z-index: 1;
                    }

                    .social, .categories {
                        z-index: 2;

                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }

                &--dark {
                    color: hubl("$main_font_color") !important;

                    .social {
                        .icons {
                            li {
                                a {
                                    i {
                                        color: hubl("$main_font_color") !important;
                                    }
                                }
                            }
                        }
                    }

                    .categories {
                        .tags {
                            li {
                                a {
                                    color: hubl("$main_font_color") !important;
                                    border-color: hubl("$main_font_color") !important;
                                }
                            }
                        }
                    }
                }
                }
            }

            ////////////// BLOG LISTING ///////////////////
            .blog-listing {
                .post {
                    margin-bottom: 100px;
                    .post-image {
                        width:100%;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        height:330px;
                        display:flex;
                        flex-wrap:wrap;
                        flex-direction: column;
                        justify-content: space-between;
                        position:relative;
                        color: #fff;
                        padding: 10px 40px;
                        .social {
                            width:100%;
                            display:flex;
                            justify-content: space-between;
                            date {
                                font-size: em(14);
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .icons {
                                margin:0;
                                padding:0;
                                li {
                                    padding:0;
                                    margin:0 0 0 10px;
                                    display:inline-block;
                                    line-height: 1;
                                    font-size: em(12);
                                    font-weight: normal;
                                    &:before {
                                        content: "";
                                    }
                                    a {
                                        i {
                                            font-size: 15px;
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        .categories {
                            margin-left:170px;
                            .text {
                                font-size: em(12);
                                font-weight: normal;
                            }
                            .tags {
                                margin:0;
                                margin-left:-8px;
                                padding:0;
                                line-height: 1;
                                li {
                                    margin:0;
                                    padding:0;
                                    display:inline;
                                    a {
                                        color: #fff;
                                        display: inline-block;
                                        font-size: em(14);
                                        font-weight: bold;
                                        border: 1px solid #fff;
                                        border-radius: 10px;
                                        padding:1px 5px;
                                        line-height: 1.5em;
                                    }
                                    &:before {
                                        display:none;
                                        content:"";
                                    }
                                }
                            }
                        }
                    }
                    .post-content {
                        display:flex;
                        .avatar {
                            margin-top:-50px;
                            flex:0 0 200px;
                            z-index: 9998;
                            img {
                                display:block;
                                margin:0 auto;
                                border-radius: 50%;
                                border: 2px solid white;
                                width:100px;
                                margin-bottom:10px;
                            }
                            span {
                                display:block;
                                text-align: center;
                                line-height: 1.3em;
                                font-weight: bold;
                                &.text {
                                    font-size: em(12);
                                }
                                &.name {
                                    font-size:em(14);
                                    color: hubl("$first_color");
                                }
                            }
                        }
                        .post-text {
                            h2 {
                                font-size: em(24);
                                text-transform: none;
                                a {
                                    color: hubl("$main_font_color");

                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            .button {
                                display: block;
                                float:right;
                                &:after {
                                    font-family: 'Font Awesome\ 5 Free';
                                    content:"\f101";
                                    margin-left:10px;
                                    font-size: 18px;
                                    display: inline;
                                    width: auto;
                                    height: auto;
                                    position: relative;
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
                nav {
                    width:100%; 
                    display: flex;
                    justify-content: center;
                    margin-bottom: 60px;
                    .pagination {
                        padding:0;
                        margin: 0 auto;
                        li {
                            padding: 0;
                            display:inline-flex;
                            margin:0;
                            a {
                                border:1px solid #e7e7e7;
                                width:40px;
                                height:40px;
                                line-height: 40px;
                                text-align: center;
                                font-size: em(14);
                                font-weight: normal;

                                &:after {
                                    display: none;
                                }
                            }
                            &:before {
                                content: "";
                            }
                            &.active {
                                a {
                                   border: 1px solid #3d3d3d;   
                                   color: #3d3d3d;   
                                }
                            }
                            &.disabled {
                                display:none;
                            }
                        }
                    }
                }
            }

            //////////// SINGLE POST //////////////////
            .blog-post {
                .post {
                    margin-bottom: 100px;
                    .post-image {
                        width:100%;
                        background-size: cover;
                        background-position: center center;
                        background-repeat: no-repeat;
                        height:330px;
                        display:flex;
                        flex-wrap:wrap;
                        flex-direction: column;
                        justify-content: space-between;    
                        position:relative;
                        color: #fff;
                        padding: 10px 40px;
                        .social {
                            width:100%;
                            display:flex;
                            justify-content: space-between;
                            date {
                                font-size: em(14);
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                            .icons {
                                margin:0;
                                padding:0;
                                li {
                                    padding:0;
                                    margin:0 0 0 10px;
                                    display:inline-block;
                                    line-height: 1;
                                    font-size: em(12);
                                    font-weight: normal;
                                    &:before {
                                        content: "";
                                    }
                                    a {
                                        &:after {
                                            display: none;
                                        }
                                        i {
                                            font-size: 15px;
                                            color:#fff;
                                        }
                                    }
                                }
                            }
                        }
                        .categories {
                            .text {
                                font-size: em(12);
                                font-weight: normal;
                            }
                            .tags {
                                margin:0;
                                margin-left:-8px;
                                padding:0;
                                line-height: 1;
                                li {
                                    margin:0;
                                    padding:0;
                                    display:inline;
                                    a {
                                        color: #fff;
                                        display: inline-block;
                                        font-size: em(14);
                                        font-weight: bold;
                                        border: 1px solid #fff;
                                        border-radius: 10px;
                                        padding:1px 5px;
                                        line-height: 1.5em;

                                        &:after {
                                            display: none;
                                        }
                                    }
                                    &:before {
                                        display:none;
                                        content:"";
                                    }
                                }
                            }
                        }
                    }
                    .post-content {
                        display:flex;   
                        width:100%;
                        flex-wrap: wrap;              
                        .post-text {
                            h2 {
                                span {
                                    font-size: em(46);
                                    color: hubl("$main_font_color");
                                    font-weight: bold;
                                    line-height: 1.5em;
                                }
                                font-size: em(24);
                                text-transform: none;
                                a {
                                    color: hubl("$main_font_color");
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                            blockquote {
                                width:50%;
                                float:left;
                                margin:0;
                                padding:50px 20px;
                                font-weight: bold;
                                font-style: italic;
                                position:relative;
                                &:before {
                                    content: '“';
                                    font-family: 'Lato', sans-serif;
                                    font-style: italic;
                                    color: #eeeeee;
                                    display: block;
                                    position:absolute;
                                    font-size: 360px;
                                    top: 140px;
                                    left: -100px;
                                    z-index: -1;
                                    @media (max-width: 1300px) {
                                        left:-60px;
                                    }
                                }
                            }
                            ul {
                                li {
                                    font-weight: bold;
                                }
                            }
                        }
                        .icons {
                            width:100%;
                            margin: 20px 0 50px 0;
                            padding:0;
                            li {
                                display: inline;
                                padding: 0 20px 0 0;
                                font-weight: bold;
                                color: hubl("$main_font_color");
                                opacity: 0.5;
                                a {
                                    &:after {
                                        display: none;
                                    }
                                }
                                i {
                                    color: hubl("$main_font_color");
                                }
                                &:before {
                                    content:"";
                                }
                                &:after {
                                    display: none;
                                }
                            }
                        }
                        .author {
                            background-color: #e7e7e7;
                            display: flex;
                            .image {
                                flex: 0 0 250px;
                                }
                                img {
                                    margin: 25px auto;
                                    display: block;
                                    width: 200px;
                                    border-radius: 50%;
                                    border:2px white solid;
                                }
                            }
                            .about {
                                padding:0 50px 25px 10px;
                                h4 {
                                    color: hubl("$main_font_color");
                                    font-weight: bold;
                                    font-size: em(24);
                                }
                                p {
                                    font-size: em(16);
                                    line-height: 1.5;
                                }
                            }
                        }
                    }
                }
            }
        }

        ///////////// SIDEBAR ////////////////
        .sidebar {
            h3 {
                color: hubl("$main_font_color");
                font-weight: normal;
                margin:10px 0;
                text-transform: none;
                font-size: em(24);

            }
            p {
                font-size: em(16);
                line-height: 24px;
                margin:10px 0;
            }

            ////////////// ABOUT /////////////
            .about-blog {
                margin-bottom:40px;
                h3 {
                    margin-top: 0;
                    line-height: 1em;
                }
            }

            ////////////// SUBSCRIBE ///////////
            .blog-subscribe {
                margin-bottom: 40px;
                form {
                    margin: 0 auto 10px auto ;
                    .hs-form-field {
                        margin-bottom:0;
                        .inputs-list {
                            margin: 0;
                            &.hs-error-msgs {
                                li {
                                    font-size: em(16);
                                }
                            }
                        }
                    }
                    input {
                        &.hs-input {
                            margin-top:0;
                            border-radius:0;
                            font-size: em(18);
                            padding:10px 15px;
                            border: 1px solid #e7e7e7;
                            &::-webkit-placeholder {
                                color: #474747;
                            }
                            &::-ms-input-placeholder {
                                color: #474747;
                            }
                            &::-moz-placeholder {
                                color: #474747;
                            }
                            &[type="checkbox"] {
                                +span {
                                    display:inline-block;
                                    margin-left:0;
                                    font-size: em(16);
                                    line-height: 24px;
                                    &:before {
                                        top:4px;
                                        left:-40px;
                                        transform: none;
                                        border: 1px solid #e7e7e7;
                                    }
                                    &:after {
                                        top:2px;
                                        left:-38px;
                                        transform:none;
                                    }
                                }
                            }             
                        }                   
                    }
                    .hs_submit {
                        text-align: left;
                        [type="submit"] {
                            border-radius:0;
                            text-transform: uppercase;
                            padding: 10px 20px;
                            margin-top:20px;
                        }
                    }
                }
            }

            ////////// POSTS ////////////////
            .recent-posts, .popular-posts {
                margin-bottom: 40px;
                .single-post {
                    .post-title {
                        span {
                            font-size: em(12);
                            text-transform: uppercase;
                            line-height: 1em;
                        }
                        h4 {
                            font-size: em(16);
                            font-weight: normal;
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }

            ////////// CATEGORIES /////////////
            .categories {
                margin-bottom: 40px;
                ul {
                    list-style-type: none;
                    margin:0;
                    padding:0;
                    li {
                        display: block;
                        padding:0;
                        margin:0;
                        border-bottom: 1px solid #e7e7e7;
                        &:before {
                            content: "";
                        }
                        a {
                            font-size: em(14);
                            font-weight: normal;
                            line-height: 48px;
                            &:after {
                                display: none;
                            }
                            .filter-link-count {
                                color: #474747;
                                font-weight: 300;
                                float:right;
                            }
                        }
                    }
                }
                .filter-expand-link {
                    font-size: em(16);
                    line-height: 48px;
                    margin-left:1px;
                }
            }
        }

        /////////////// COMMENTS //////////////////
        .comments {
            padding: 40px 0;
            .title {
                display: block;
                margin-bottom:40px;
                font-weight: bold;
                color: hubl("$main_font_color");
                opacity: 0.5;
            }
            .comment {
                margin: 40px 0;
                border:none;
                &.depth-0 {
                    padding-top:0;
                }
                &.depth-1, &.depth-2 {
                    margin: 40px 0;
                }
                .comment-from {
                    display: block;
                    h4 {
                        color: hubl("$main_font_color");
                        font-size: em(24);
                        margin:0;
                    }
                }
                .comment-date {
                    font-size: em(16);
                }
                .comment-body {
                    p {
                        margin: 0;
                    }
                }
                .comment-reply-to {
                    background:none;
                    font-size: 16px;
                    padding-left:5px;
                    span {
                        color: hubl("$first_color");
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
            }
            #comment-form {
                margin:50px 0;
                padding:0;
                h4 {
                    color: hubl("$main_font_color");
                    opacity: 0.5;
                    font-weight: bold;
                    font-size: em(24);
                }
                form {
                    display:flex;
                    flex-wrap: wrap;
                    .hs-form-field {
                        margin-bottom:10px;
                        .hs-error-msgs {
                            padding:0;
                            margin: 10px 0;
                            li {
                                padding:0;
                                font-size: em(16);
                                color: hubl("$first_color");
                                &:before {
                                    content: "";
                                }
                            }
                        }
                    }
                    .form-left {
                        width:40%;
                        padding-right:15px;
                        @media (max-width: 992px) {
                            width:100%;
                            padding:0;
                        }
                    }
                    .form-right {
                        width:60%;
                        padding-left: 15px;
                        @media(max-width: 992px) {
                            width:100%;
                            padding: 0;
                        }
                        textarea {
                            min-height: 320px;
                            color: hubl("$main_font_color");
                        }
                        .hs_submit {
                            text-align: left;
                            input[type="submit"] {
                                padding: 20px 100px;
                            }
                        }
                    }
                }
            }
        }
    }

////// RESPONISVE ///////////////////////

@media (max-width: 767px) {
    .po-blog {
        .content-wrapper {
            .blog-content {
                .blog-listing, .blog-post {
                    .post {
                        .post-image {
                            .social {
                                flex-wrap:wrap;
                                justify-content: flex-start;
                                flex-direction: column;
                                line-height: 1em;
                                .icons {
                                    li {
                                        margin: 0 10px 0 0;
                                    }
                                }
                            }
                            .categories {
                                margin-left:0;
                            }
                        }
                        .post-content {
                            flex-wrap: wrap;
                            .avatar {
                                margin-top:30px;
                                flex: 0 0 100%;
                            }
                            .author {
                                text-align: center;
                                margin-bottom: 20px;
                            }
                            .post-text {
                                blockquote {
                                    width:100%;
                                }
                            }
                        }
                    }
                }
                .blog-post {
                    .post {
                        .post-image {
                            .social {
                                flex-wrap:wrap;
                                justify-content: flex-start;
                                flex-direction: column;
                                line-height: 1em;
                                .icons {
                                    li {
                                        margin: 0 10px 0 0;
                                    }
                                }
                            }
                            .categories {
                                margin-left:0;
                            }
                        }
                        .post-content {
                            flex-wrap: wrap;
                            .avatar {
                                margin-top:30px;
                                flex: 0 0 100%;
                            }
                            .author {
                                text-align: left;
                                margin-bottom: 20px;
                                flex-wrap: wrap;
                                flex: 0 0 100%;
                                .about {
                                    padding-right: 10px;
                                }
                                .image {
                                    flex: 0 0 100%;
                                }
                                h4 {
                                    text-align: center;
                                }
                            }
                            .post-text {
                                blockquote {
                                    width:100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
