.po-error-banner {
    width: 100%;
    overflow: hidden;
    // margin-bottom: 400px; //roboczo 
    .mask-error {
        text-align: center;
        font-size: 382px;
        line-height: 1;
        font-weight: 900;
        position: relative;
        z-index: 4;
        transform: translateY(-253px);
        color: #efefef;
        text-shadow: 0px 0px #efefef;
        margin-bottom: -250px;
        @media (max-width: 767px) {
            font-size: 250px;
            transform: translateY(-173px);
            margin-bottom: -150px;
        }
        @media (max-width: 480px) {
            font-size: 150px;
            transform: translateY(-73px);
            margin-bottom: -50px;
        }
    }
    .banner-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 110%;
        margin-left: -5%;
        padding: 0 5%;
        min-height: 300px;
        border-bottom-left-radius: 50% 50px;
        border-bottom-right-radius: 50% 50px;
        background-color: hubl("$first_color");
        overflow: hidden;
        position: relative;
        z-index: 5;
        h2 {
            margin: 20px 0;
            text-align: center;
            color: #fff;
        }
        p {
            margin: 0 0 20px 0;
            color: white;
            text-align: center;
        }
        h1 {
            font-size: 382px;
            line-height: 1;
            font-weight: 900;
            margin-top: -150px;
            transform: translateY(150px);
            text-shadow: 0px 0px #fff;
            @media (max-width: 767px) {
                font-size: 250px;
                transform: translateY(100px);
            }
            @media (max-width: 480px) {
                font-size: 150px;
                transform: translateY(100px);
            }
        }
    }
}