.feauter-section {
        overflow-x: hidden;
        .feauter-section-container {
            border-top-left-radius: 50% 50px;
            border-top-right-radius: 50% 50px;
            width: 110%;
            margin-left: -5%;
            padding-top: 200px;
            background-color: hubl("$first_color");
            color: #fff;

            h2 {
                color: #fff;
                text-align: center;
            }
            .feauter-section-wrapper>span {
                display: flex;
                flex-wrap: wrap;
                margin: 110px auto 130px auto;
                width: 90%;
                overflow: hidden;
                >div {
                    width: 50%;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
            .po-ico-feed-box {
                display: flex;
                text-align: left;
                margin-bottom: 40px;
                @media (max-width: 486px) {
                    flex-direction: column;
                    text-align: center;
                }
                h3 {
                    color: #fff;
                }
                i {
                    color: #fff;
                }
                .icon{
                	min-width: 90px;
					text-align: center;
                }
                .wrapper {
                    padding-left: 30px;
                    @media (max-width: 486px) {
                        padding-left: 0px;
                    }
                }
            }
        }
    }