.naed-video-slider {
	text-align: center;
	margin-top: 60px;

	.slick-slider {
		margin-bottom: 60px;
	}

	.slick-slide {

		.naed-video-slide {
			position: relative;
			transform: scale(0.75);
			z-index: 1;
		    transition: all .3s linear;

			.video-container {
				position: relative;
				height: 420px;

				iframe {
					position: absolute;
				    top: 50%;
				    left: 50%;
					border: 0;
				    transform: translateX(-50%) translateY(-50%);
				}
			}

			@media (max-width: 767px) {
		    	transform: scale(1);

		    	.video-container {
		    		position: relative;
				    overflow: hidden;
				    padding-top: 56.25%;
				    height: auto;

		    		iframe {
		    			top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    transform: translateX(0) translateY(0);
		    		}
		    	}
		    }
		}
	}

	.slick-current, .fake-current {

		.naed-video-slide {
			transform: scale(1);
			z-index: 2;
		}
	}

	.slick-slider .slick-next {
		margin-top: 0;
	}

	.slick-dots {
		bottom: -70px;

		li {
			&:before {
				display: none;
			}

			button {

				&:before {
					font-size: 34px;
				    line-height: 20px;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 20px;
				    height: 20px;
				    content: '•';
				    text-align: center;
				    opacity: .25;
				    color: #000;
				    transition: all .3s linear;
				}
				
			}
		}

		li.slick-active {

			button {

				&:before {
					opacity: .5;
				}
			}
		}
	}
}


.naed-video-desc-slider {
	text-align: center;
	margin-bottom: 30px;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		text-transform: none;
	}
}