.naed.naed-video-gallery.case-study {

	.case-study-wrapper {
		
		.categories-list-wrapper {

			ul {
			    margin-top: 20px;
    			margin-bottom: 50px;
			}
		}

		.box-listing { 

			.post-item-wrapper {
				width: 50%;
				padding: 15px;

				@media (max-width: 767px) {
					width: 100%;
				}
			}
		}
	}
}

.post-item-wrapper {

	.naed-video-box {
		position: relative;
		padding: 15px 0;
		color: #fff;
		text-align: center;			
		height: 320px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media (max-width: 991px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: auto;
			min-height: 320px;
		}

		h1, h2, h3, h4, h5, h6, p, span {
			color: inherit;
			text-transform: none;
		}

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #111;
			opacity: .6;
			transition: all .3s linear;
		}

		.title-wrapper {
			width: 100%;
			padding: 0 15px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: all .3s ease-in-out;

			@media (max-width: 991px) {
				position: relative;
				left: auto;
				top: auto !important;
				transform: translateY(0);
			}
		}

		&__title {
			font-size: 26px;
			margin-top: 0;
		}

		.content-wrapper {
			opacity: 0;
			position: absolute;
			width: 100%;
			top: 50%;
			left: 0;
			margin-top: 15px;
			padding: 0 15px;
			transform: translateY(-50%);
			transition: all .3s ease-in-out;

			@media (max-width: 991px) {
				margin-top: 0;
				opacity: 1;
				position: relative;
				left: auto;
				top: auto;
				transform: translateY(0);
			}

		}

		&__description {
			margin-top: 0;
			font-family: hubl("$font");
			font-size: 16px;
			display: block;
			max-height: 144px;
			overflow: hidden;
			white-space: pre-line;
			word-wrap: break-word;
		}

		&:hover {

			.mask {
				color: #757680;
				opacity: .85;
			}

			.title-wrapper {
				top: 15px;
				transform: translateY(0);
			}

			.content-wrapper {
				opacity: 1;
			}

			@media (min-width: 992px) {
				.naed-video-box__title {
					max-height: 39px;
					overflow: hidden;
				}
			}
		}
	}

	.naed-pdf-box {
		display: flex;

		.image-wrapper {
			width: 215px;
			margin-bottom: 20px;
		}

		.content-wrapper {
			width: calc(100% - 215px);
			padding-left: 25px;

			@media (max-width: 991px) {
				width: 100%;
			}

			h1, h2, h3, h4, h5, h6, p, span {
				text-transform: none;
			}

			p {
				font-size: 16px;
			}
		}

		&__title {
			font-size: 26px;
			margin-top: 0;
		}

		@media (max-width: 991px) {
			flex-wrap: wrap;

			.content-wrapper {
				padding-left: 0;
			}
		}
	}
}