.po-about-person {
    width:100%;
    background-color: white;
    &.background-grey {
        background-color: #efefef;
    }
    .about-person-wrapper {
        display:flex;
        flex-wrap:wrap;
        &.text-left {
            flex-direction:row;
            .text {
                padding: 40px 60px 20px 0;
            }
        }
        
        &.text-right {
            flex-direction: row-reverse;
            .text {
                padding: 40px 0 20px 60px;
            }
        }
        .text {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            width:60%;
            h3 {
                margin: 20px 0 0 0;
            }
            span {
                font-weight: 700;
                font-size: em(18);
                display: inline-block;
                margin-bottom:10px;
            }
            ul {
                margin:0;
                padding-left:0;
                list-style-type: none;
                li {
                    padding-left:0;
                    padding-right:40px;
                    display:inline;
                    &:before {
                        content:"";
                    }
                    a {
                        color:#bfbfbf;
                        
                        &:after {
                            display: none;
                        }

                        &:hover {
                            color: #c31231;
                        }
                    }
                }
            }
        }
        .image {
            width:40%;
            background-size:cover;
            background-position: center;
            &:after {
                content: "";
                display: block;
                padding-bottom:100%;
                height: 0;
            }
        }
    }
}

@media (max-width:768px) {
    .po-about-person {
        .about-person-wrapper {
            &.text-left {
                flex-direction: column-reverse;
                .text {
                    padding: 40px 0;
                }
            }
            &.text-right {
                flex-direction: column-reverse;
                .text {
                    padding: 40px 0;
                }
            }
            .text {
                width:100%;
                ul {
                    position:relative;
                    li {
                        padding-right: 30px;
                    }
                }
            }
            .image {
                width:100%;
                margin-top:15px;
                padding-bottom:100%;
            }
        }
    }
}