.po-banner {
    width:100%;
    overflow: hidden;
    .banner-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position:relative;
        width:110%;
        margin-left: -5%;
        padding: 0 5%;
        padding: 0 calc(5% + 15px);
        min-height: 340px;
        // border-bottom-left-radius: 50% 50px;
        // border-bottom-right-radius: 50% 50px;
        background-color: hubl("$first_color");
        padding-bottom: 40px;
        // IE 11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              height: 378px;
        }
        // EDGE
        @supports (-ms-ime-align:auto){ 
                height: 378px;
        }

        h1 {
            margin:20px 0;
            text-align:center;
        }
        p {
            margin: 0 0 20px 0;
            color:white;
            text-align:center;
        }
        .cta-wrapper{
            margin-top: 30px;
            margin-bottom: 90px;
            .po-cta-secondary{
                &:hover{
                    border-color: #fff;
                    color: #fff;
                }
            }
        }
    }
}

