.po-cta-banner{

	width: 100%;
	overflow-x: hidden; 
    .inner-banner{
    	background-color: hubl("$first_color");
		width:110%;
	    margin-left: -5%;
	    min-height: 435px;
	    border-top-left-radius: 50% 50px;
	    border-top-right-radius: 50% 50px; 
	    display: flex;
	    align-items: center;
		.content{
			width: 90%;
			padding: 20px 0px;
			text-align: center;
			h2, h4{
				color: #fff;
				margin: 0px;
			}
			
			.cta-wrapper{
				margin-top: 40px;
				.po-cta-secondary{
					&:hover{
						border-color: #fff;
					}
				}
			}
		}
	}
}
// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .inner-banner {
      height: 435px;
    } 
}
// EDGE
@supports (-ms-ime-align:auto){ 
    .inner-banner {
        height: 435px;
    } 
}