.po-circle-progress-wrapper>span {
    display: flex;

    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
    &>div {
        width: 100%;

        @media (max-width: 767px) {

            width: 50%;
        }
        @media (max-width: 486px) {
            width: 100%;
        }
    }
}

.po-circle-progress {
    width: 100%;
    text-align: center;
    h3 {
        margin-top: -20px;
        font-size: em(24);
        font-weight: 400;
    }
    circle {
        &.border {
            stroke: #aeaeaf;
        }
        &.circle {
            stroke: hubl("$first_color");
        }
    }
    text.timer {
        fill: hubl("$first_color");
        .number {
            font-weight: 900;
            font-size: em(40);
        }
        .percent {
            font-weight: 900;
            font-size: em(20);
        }
    }
}

// IE SVG size BUG

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .po-circle-progress .circle svg {
	      transform: scale(1.6);
	} 
	.po-circle-progress {
	    h3 {
	        margin-top: 15px;
	    }
	}
}
@supports (-ms-ime-align:auto) { 
    .po-circle-progress .circle svg {
      transform: scale(1);
    } 
    .po-circle-progress {
	    h3 {
	        margin-top: 15px;
	    }
	}
}

