.po-hero-banner{
    width:100%;
    overflow: hidden;
    .hero-banner-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width:110%;
        margin-left: -5%;
        min-height: 640px;
        // border-bottom-left-radius: 50% 50px;
        // border-bottom-right-radius: 50% 50px; 
        background-color: hubl("$first_color");
        background-size: cover;
        background-position: center center;
        padding-bottom: 40px;
        .content{
            max-width: 1170px;
            width: 90%;
            padding: 10px 15px;
            text-align: center;
            margin: 0 auto 60px auto;
            @media (max-width: 480px){
                margin-bottom: 100px;            }
            h1{
                margin: 0px 0px 25px 0px;
            }
            p{
                color: #fff;
                margin: 0px;
            }
            .cta-wrapper{
                margin-top: 40px;

                .cta_button {
                    margin: 10px;
                }
            }
            .desc{
                img{
                    margin-top: 80px;
                    margin-bottom: 40px;
                    height: auto;
                }

            }
        }
        .mouse{
            height: 34px !important;
            width: 20px;
            border-radius: 14px;
            transform: none;
            border: 2px solid rgba(255,255,255, 0.4);
            position: absolute;
            bottom: 80px;
                left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
            .wheel{
                height: 7px;
                width: 2px;
                display: block;
                margin: 5px auto;
                background: rgba(255,255,255, 0.4);
                position: relative;
                animation: mouse-wheel 1.5s linear infinite;
            }
        } 
    }
}


// IE 11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .hero-banner-inner {
      height: 640px;
    } 
}
// EDGE
@supports (-ms-ime-align:auto){ 
    .hero-banner-inner {
        height: 640px;
    } 
}

