.po-ico-feed-box-wrapper > span{
	display: flex;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	flex-wrap: wrap;
	& > div{
		width: 25%;
		@media (max-width: 767px){
			width: 50%;
		}
		@media (max-width: 480px){
			width: 100%;
		}
	}
}

.po-ico-feed-box{
	text-align: center;
	padding: 10px 15px;
	.icon{
		margin-bottom: 25px;
		
		i{
			margin-bottom: 0px;
		}
	}
	h3{
		font-size: em(24);
		margin-top: 0px;
	}
	.desc{
		font-size: em(16);
		line-height: 24px;	}
}