/* GLOBALS */
.po-text-background {
	position: relative;
	background-color: hubl("$first_color");
	width: 100%;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&--flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mask {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: hubl_rgba("$first_color", .85);
	}

	.container {

		&--810 {
			max-width: 900px;
		}

	}

	&__background-text-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
		overflow: hidden;
		z-index: 1;
	}

		&__background-text {
			margin-top: 20px;
			margin-left: 10%;
			width: 100%;
			height: 100%;
			opacity: .2;
			font-size: 310px;
			line-height: 1;
			font-family: hubl("$font");
			font-weight: 600;
			letter-spacing: -.04em;
			color: hubl("$font_color");
			text-transform: uppercase;
			white-space: nowrap;
		}
/* END GLOBALS */

/* va-text-image-background Custom module styles */
	&__rich-text-wrapper {
		position: relative;
		width: 62%;
		z-index: 2;
	}

		&__rich-text {
			padding: 70px 15px;
			max-width: 700px;
			float: right;
			color: #fff;

			h1, h2, h3, h4, h5, h6, p, span, strong, small, li {
				color: inherit;
				text-transform: none;
			}

			h4 {
				margin-top: 0;
				font-weight: 300;
			}

			.cta_button {
				margin-top: 40px;
			}
		}

	&__rich-text-wrapper--right {
		width: 56%;

		.va-text-background__rich-text {
			float: left;
			max-width: 545px;
			padding: 15px;

			& > h2 {
				margin-top: 0;
			}
		}
	}

	&__image-wrapper {
		align-self: flex-end;
		position: relative;
		padding: 70px 15px 0;
		width: 50%;
		z-index: 2;

		img {
			max-width: 100%;
			height: auto;
			filter: drop-shadow(0 0 10px rgba(0,0,0,.6));
		}
	&--left {
		align-self: center;
		padding: 0 50px 0 0;
		overflow: hidden;
		width: 44%;

		img {
			max-width: none;
			float: right;
		}
	}
	}
/* END va-text-image-background Custom module styles */


/* va-text-icons-background Custom module styles */
	&__header {
		position: relative;
		color: #fff;
		text-align: center;
		padding-top: 70px;
		z-index: 2;

		h4 {
			font-weight: 300;
		}

		h2, h4, span {
			color: inherit;
            text-align: center;

			span {
				font-weight: 300;
			}
		}
	}

	&__icons-wrapper {
		position: relative;
		padding-bottom: 70px;
		padding-top:40px;
		display: flex;
		flex-wrap: wrap;
		z-index: 2;
	}

		&__icon {
			text-align: center;
			color: #fff;
			margin: 20px auto;
			width: 230px;
			padding: 0 15px;

			h1, h2, h3, h4, h5, h6, p, li {
				color: inherit;
			}

			&-image {
				width: 100%;
				height: 100px;

				img {
					position: relative;
					display: block;
					margin: auto;
					max-height: 100%;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&-text {
				position: relative;
				margin-top: 40px;

				span {
					display:block;
				}

				.cta_button {
					display:block;
					padding: 5px 5px;
				}
			}
		}
/* END va-text-icons-background Custom module styles */
}



@media (max-width: 991px) {

	.po-text-background {
	&--flex {
		display: block;
	}

		&__rich-text-wrapper {
			width: 100%;
		}

			&__rich-text {
				max-width: none;
			}

		&__rich-text-wrapper--right {

			.va-text-background__rich-text {
				max-width: none;
				padding: 45px 15px;
			}
		}

		&__image-wrapper {
			display: none;
		}
	}
}



@media (max-width: 767px) {
	.po-text-background {

		&__header {
			padding-top: 45px;
		}

		&__rich-text {
			padding: 45px 30px;
		}

		&__icons-wrapper {
			display: block;
			padding-bottom: 45px;
		}

			&__icon {
				width: 100%;
				max-width: 300px;
				margin: 60px auto;

				&:first-of-type {
					margin-top: 30px;
				}

				&:last-of-type {
					margin-bottom: 30px;
				}
			}
	}
}



@media (max-width: 480px) {

	.po-text-background {

		&__background-text {
			margin-left: -150px !important;
		}
	}
}