.po-icon-presentation{
	font-family: hubl("$font");
	display: flex;
	align-items: center;
	@media (max-width: 450px){
		display: block;

		text-align: center;
	}
	i{
		font-size: 50px!important;
		line-height: 50px;
		margin-right: 20px;
		@media (max-width: 450px){
			margin-right: 0px;
		}
	}
	h2{
		font-size: 24px;
		line-height: 50px;
		text-transform: none;
	}
}