.po-naed-calendar-module {

	#naed-calendar {

		.fc-day-grid-container {
			overflow: visible !important;
		}

		.fc-listMonth-view {
			.naed-event {
				&__details {
					display: none !important;
				}
			}
		}

		.fc-scroller {
			@media (max-width: 991px) {
				height: auto !important;
				overflow: visible !important;
			}
		}

		.fc-header-toolbar {
			position: relative;

			.fc-right {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);

				@media (max-width: 767px) {
					position: relative;
					float: left;
					width: 100%;
					top: 0;
					transform: translateY(0);
				}
			}

			.fc-left {
				@media (max-width: 767px) {
					float: left;
					width: 100%;

					h2 {
						font-size: em(50);
						text-align: left;
					}
				}
			}

			.fc-prev-button {
				@media (max-width: 767px) {
					margin-left: 0;
				}
			}
		}

	}

	.naed-event {
		position: relative;
		background-color: hubl("$first_color");

		color: #fff !important;
		&:after {
			display: none;
		}

		@media (max-width: 991px) {
			color: #fff;
			font-size: em(20);
		}

		&:hover, &:active {
			td {
				background-color: #c31231;

				&.fc-list-item-marker {
					span {
						background-color: hubl("$footer_color");
					}
				}
			}
		}

		span {
			font-size: em(14);
			display: block;
			padding: 2px;
			white-space: normal;
    		word-break: break-word;
    		overflow: auto;

    		&.fc-event-dot {
    			display: inline-block;
    			background-color: #c31231;
    		}
		}

		&__details {
			display: block;
			visibility: visible;
			opacity: 1;
			transition: all .2s linear;
			position: absolute;
			top: -1px;
			left: -1px;
			width: 100%;
			min-width: 320px;
			height: auto;
			z-index: 5;
			background-color: #c31231;
			padding: 10px;
			border-radius: 3px;

			@media (max-width: 991px) {
				display: none;
			}

			&.hide {
				visibility: hidden;
				opacity: 0;
				display: block;
			}

			&-time {

			}

			.details-title {
				font-size: em(20);
			}

			.details-summary {
				font-size: em(16);

				a {
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}

	
}

@media (max-width: 480px) {

	.po-naed-calendar-module {

		#naed-calendar {

			.fc-list-table {
				display: block;

				tbody, tr, td {
					display: block;
				}

				td {
					
					width: auto;

					&:after, &:before {
						content: ' ';
						display: table;
					}

					&:after {
						clear: both;
					}
				}

				.fc-list-item-marker, .fc-list-heading-alt {
					display: none;
				}
			}

			.naed-event {
				border: none;
				font-size: em(18);

				.fc-list-item-time {
					border-bottom: none;
					padding-bottom: 0;
				}

				.fc-list-item-title {
					padding-top: 0;
					border-top: none;
				}
			}
		}
	}
}