.po-naed-calendar-feed-module {

	&__header {
		margin-bottom: 30px;

		span {

			a {
				font-weight: inherit;
				color: inherit;
			}
		}
	}

	#naed-calendar-feed {
		position: relative;

		.fc-header-toolbar {
			position: absolute;
			bottom: 100%;
			right: 0;

			@media (max-width: 1200px) {
				position: relative;
			}

			@media (max-width: 767px) {
				position: absolute;
			}

			@media (max-width: 500px) {
				position: relative;
			}
		}

		.fc-list-view {
			border: none;
		}

		.fc-scroller {
			height: auto !important;
			overflow: visible !important;
		}

		.fc-list-heading {
			border-top: 20px solid #fff;

			&:first-of-type {
				border: none;
			}
		}

		.fc-widget-header {
			background-color: hubl("$first_color");
			background-color: #fff;
			font-size: em(20);
			text-align: center;
			padding: 0;

			.fc-list-heading-main {
				float: none;
				width: 100%;
				display: block;
				background-color: hubl("$first_color");
				color: #fff;
				border-top-left-radius: 50%;
				border-top-right-radius: 50%;
				padding: 5px 0;
			}
		}

		.fc-list-table td {
			border: none;
		}

	}

	.naed-event-feed {
		position: relative;
		background-color: #fff;
		color: hubl("$main_font_color");
		font-size: em(20);

		&:hover, &:active {
			td {
				background-color: hubl_rgba("$first_color", .5);

				&.fc-list-item-marker {
					span {
						//background-color: hubl("$footer_color");
					}
				}
			}
		}

		a:hover {
			text-decoration: none !important;
		}

		td {
			background-color: hubl_rgba("$first_color", .2);
			transition: all .2s linear;

			&:first-of-type {
				width: 25%;
			}
			
			&.fc-list-item-marker {
				span {
					background-color: hubl("$footer_color");
				}
			}
		}

		span {
			font-size: em(14);
			display: block;
			padding: 2px;
			white-space: normal;
    		word-break: break-word;
    		overflow: auto;

    		&.fc-event-dot {
    			display: inline-block;
    			background-color: #c31231;
    		}
		}

		& + .details-row {
			border-bottom: 1px solid hubl("$footer_color");

			&:last-of-type {
				border-bottom: none;
			}
		}

		&__details {
			color: hubl("$main_font_color");
			width: 100%;
			font-size: em(16);
			white-space: normal;
    		word-break: break-word;
		}
	}

	
}

@media (max-width: 480px) {

	.po-naed-calendar-feed-module {

		#naed-calendar-feed {

			.fc-list-table {
				display: block;

				tbody, tr, td {
					display: block;
				}

				td {
					
					width: auto;

					&:after, &:before {
						content: ' ';
						display: table;
					}

					&:after {
						clear: both;
					}
				}

				.fc-list-item-marker, .fc-list-heading-alt {
					display: none;
				}
			}

			.naed-event-feed {
				border: none;
				font-size: em(18);

				.fc-list-item-time {
					border-bottom: none;
					padding-bottom: 0;
				}

				.fc-list-item-title {
					padding-top: 0;
					border-top: none;
				}
			}
		}
	}
}