.po-naed-calendar-module, .po-naed-calendar-feed-module {

	.fc-button {
		background-color: hubl("$first_color");
		background-image: none;
		box-shadow: none;
		text-shadow: none;
		color: #fff;
	}

	td.fc-today {
		background-color: hubl("$footer_color");
	}

	.fc-today-button {
		@media (max-width: 991px) {
			display: none;
		}
	}

	.fc-widget-header {
		@media (max-width: 991px) {
			background-color: hubl("$footer_color");
			font-size: em(20);
		}
	}
}