.po-privacy-policy-row{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	@media (max-width: 767px){	  
		flex-direction: column;
    }
	.left{
		width: 30%;
		@media (max-width: 767px){	  
			width: 100%;
		}
		h3{
			color: hubl("$main_font_color");
			margin: 0;
			padding: 0;
			padding-right: 20px;
			text-transform: none;
			@media (max-width: 767px){	  
				margin-bottom: 30px;
				padding-right: 0px;
			}
		}

	}
	.right{
		width: 70%;
		border-left: 1px solid #f5f5f5;
		padding-bottom: 40px;
		padding-left: 32px;
		@media (max-width: 767px){	  
			width: 100%;
			padding-left: 0px;
			border: none;
		}
		p{
			margin: 0;
			padding: 0;
		}
	}
}