
.po-portfolio-item-wrapper > span{
	display: flex!important;
	flex-wrap:wrap;

	& > div{
		width: 16.666%;
		padding-bottom: 16.666%;
		position: relative; 
		display: block;
		@supports (-moz-appearance:meterbar) and (list-style-type:japanese-formal) {
			display: table; // fix FF add
		}
		
		@media (max-width: 1360px){
			width: 33.333%;
			padding-bottom: 33.333%;
		}
		@media (max-width: 767px){
			width: 50%;
			padding-bottom: 50%;
		}
		@media (max-width: 486px){
			width: 100%;
			padding-bottom: 100%;
		}
	}

}

.po-portfolio-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	transition: 0.3s all linear;
	&:hover{
		z-index: 100;
	}
}
.po-portfolio-item{
	//position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	transition: 0.3s all linear;
	background-size: cover;
	background-position: center center;
	z-index: 3;
	cursor: pointer;
	&:hover{
		transform: scale(1.15);
		z-index: 10;
		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.55);
		.mask{
			opacity: 0;
		}
		.content{
			transform: scale(1);
		}
	}
	.mask{
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		transition: 0.3s all linear;
		background-color: hubl("$first_color") ;
		z-index: 4;
		transform: scale(1);
	}
	.content{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 5;
		padding: 20px;
		text-align: center;
		transition: 0.3s all linear;
		height: 100%;
		width: 100%;
		transform: scale(0);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		h3{
			margin:0px;
			color: #fff;
			font-size: em(24);
			padding: 0 15px;
		}
		.check-detalis{
			max-width: 90%;
			color: #fff;
			font-size: em(16);
			font-weight: 400;
			border: 2px solid #fff;
			border-radius: 15px;
			padding: 5px 40px;
			background-color: rgba(0,0,0, 0.4);
			margin: 0 auto;
			transition: 0.3s all linear;

			&:after {
				display: none;
			}

			&:hover{
				background-color: rgba(0,0,0, 0.8);
			}
			@media (max-width: 1650px){
				padding: 5px 20px;
			}
			@media (max-width: 1360px){
				padding: 5px 40px;
			}
		}
	}

}