.po-recent-blog-post{

.post {
    margin-bottom: 0px;

    .post-image {
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        color: #a6a9aa;
        padding: 10px 40px;
        position: relative;
        .mask{  
            position: absolute;
            background-color: #000;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }
        .social {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            date {
                font-size: em(14);
                text-transform: uppercase;
                font-weight: bold;
            }
            .icons {
                margin: 0;
                padding: 0;
                li {
                    padding: 0;
                    margin: 0 0 0 10px;
                    display: inline-block;
                    line-height: 1;
                    font-size: em(12);
                    font-weight: normal;
                    &:before {
                        content: "";
                    }
                    a {
                        &:after {
                            display: none;
                        }

                        i, svg {
                            font-size: 15px;
                            color: #a6a9aa;
                        }
                    }
                }
            }
        }
        .categories {
            height: auto;
            margin-left: 170px;
            .text {
                font-size: em(12);
                font-weight: normal;
            }
            .tags {
                margin: 0;
                margin-left: -8px;
                padding: 0;
                line-height: 1;
                li {
                    margin: 0;
                    padding: 0;
                    display: inline;
                    a {
                        color: #a6a9aa;
                        display: inline-block;
                        font-size: em(14);
                        font-weight: bold;
                        border: 1px solid #a6a9aa;
                        border-radius: 10px;
                        padding: 1px 5px;
                        line-height: 1.5em;

                        &:after {
                            display: none;
                        }
                    }
                    &:before {
                        display: none;
                        content: "";
                    }
                }
            }
        }
    }
    .post-content {
        display: flex;
        .avatar {
            margin-top: -50px;
            flex: 0 0 200px;
            z-index: 9998;
            img {
                display: block;
                margin: 0 auto;
                border-radius: 50%;
                border: 2px solid white;
                width: 100px;
                margin-bottom: 10px;
            }
            span {
                display: block;
                text-align: center;
                line-height: 1.3em;
                font-weight: bold;
                &.text {
                    font-size: em(12);
                }
                &.name {
                    font-size: em(14);
                    color: hubl("$first_color");
                }
            }
        }
        .post-text {
            h2 {
                font-size: em(24);
                text-transform: none;
                a {
                    color: hubl("$main_font_color");

                    &:after {
                        display: none;
                    }
                }
            }
            p{
                font-size: em(18);
                line-height: 25px;
            }
            .button {
                display: block;
                float: right;
                font-size: em(18);
                line-height: 25px;
            }
        }
    }
}

@media (max-width: 767px) {
 
    .post {
        .post-image {
            .social {
                flex-wrap:wrap;
                justify-content: flex-start;
                flex-direction: column;
                line-height: 1em;
                .icons {
                    li {
                        margin: 0 10px 0 0;
                    }
                }
            }
            .categories {
                margin-left:0;
            }
        }
        .post-content {
            flex-wrap: wrap;
            .avatar {
                margin-top:30px;
                flex: 0 0 100%;
            }
            .author {
                text-align: center;
                margin-bottom: 20px;
            }
            .post-text {
                blockquote {
                    width:100%;
                }
            }
        }
    }
               
                
}

}