.po-slider {
	margin: 40px 0 120px;

	* {
		outline: 0;
	}

	.slick-slider {
		margin-bottom: 0;
        
	}

	.slick-initialized {

        .slick-list {
            height:  auto !important;
            padding: 60px 30% !important;
			@media (max-width: 768px) {
				padding: 60px 0 !important;
			}
        }

		.slick-slide {
			max-width: 390px;
			margin: 0;
			opacity: 1;
            position:relative;
			//transform: scale(1);
			transition: all .4s ease-in-out;

            &.slick-center {
                transform: scale(1.2);
            }

			.slide {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				min-height: 450px;
				padding: 50px 30px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
                border-radius: 15px;
                position:relative;

				.mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
                    border-radius:15px;
					background-color: hubl_rgba("$first_color", 0);
					transition: background-color .4s ease-in-out;
				}

				&-content {
					text-align: center;
					position: relative;
					opacity: 0;
					transition: all .4s ease-in-out;
                    color: white;
                    h3 {
                        color: white;
                    }
					.cta_button {
						display:inline-block;
						margin-top: 15px;
					}
				}
			}

		&.slick-center {
            z-index: 1000;

			.slide {

				.mask {
					background-color: hubl_rgba("$first_color", .85);
				}

				&-content {
					opacity: 1;
				}
			}
		}
		}
	}

	@media(max-width:496px) {
		.slick-initialized {
			.slick-slide {
				&.slick-center {
					transform: scale(1);
				}
			}
		}
	}

}









// PAGINATION

.po-slider {
    .slider-dots {
        position: absolute;
        display: block;
        width: 100%;
        bottom: -50px;
        right: 0;
        margin: 0;
        padding: 0;
        outline: 0;
        list-style: none;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            margin: 0;
            font-size: 0;
            line-height: 0;
            padding-left:5px;
            button {
                width: 40px;
                height: 2px;
                padding: 0;
                margin: 4px;
                border: none;
                outline: 0;
                background-color: hubl("$first_color");
                font-size: 0;
                line-height: 0;
                cursor: pointer;
                opacity: .1;
                transition: opacity .3s linear;
            }
            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }
    }
}
