.po-text-and-image-v2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 767px) {
        flex-direction: column;
    }
    .image-wrapper {
        width: calc(50% - 100px);
        @media (max-width: 767px) {
	       width: 100%;
	       order: 2;
	       margin-top: 40px;
	    }
        img {
            height: auto;
        }
    }
    .text-wrapper {
        width: calc(50% + 100px);
        max-width: calc(600px + 100px);
        padding: 0px 15px;
        @media (max-width: 767px) {
	       width: 100%;
	       max-width: 1200px;
	       margin: 0 auto;
	       order: 1;
	    }
    }
    &.inverted{
    	justify-content: flex-end;
    	.image-wrapper {
    		 text-align: right;
		       order: 2;
	    }
	    .text-wrapper {
		       order: 1;
		    
	    }
    }
}