.po-testimonial-slider {
    > span {
        position: relative;
        width: 100%;
        .slick-slide {
            max-width: 930px;
            position: relative;
            z-index: 1;
            transform: scale(0.7);
            transition: transform .5s;
            
            .slide {
                margin: 10px 0;
                padding: 80px 50px 40px 50px;
                background-color: white;
                border-radius: 20px;
                box-shadow: 0px 0px 18px 0px rgba(13, 8, 6, 0.13);
                text-align: center;
                cursor:pointer;

                .author {
                    font-size: em(16);
                    margin: 10px 0;

                    span {
                        color: hubl("$first_color");
                        text-transform: uppercase;
                    }
                }

                .pagination {
                    .slick-dots {
                        margin:0;
                        position:relative;
                        bottom: 15px;

                        li {
                            width:auto;
                            height: auto;
                            &.slick-color {
                                button {
                                    background-color: hubl("$first_color");
                                }
                            }
                            &:before {
                                content: "";
                            }
                            button {
                                display:inline-block;
                                padding:0;
                                margin: 0 3px;
                                width:40px;
                                height:2px;
                                background-color: #efefef;
                                &:before {
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }

        .slick-one {
            transform: translate3d(-50%, 0, 0);
        }

        .slick-before {
            transform: scale(0.7) translate(1080px);
        }
        
        .slick-center + .slick-slide {
            transform: scale(0.7) translate(-1080px);
        }

        .slick-center {
            z-index: 2;
            transform: scale(1);
        }
        
        .fa-angle-right, .fa-angle-left {
            color:#efefef;
            font-size: 120px;
        }
        .next {
            left:50px;

        }
        .prev {
            right:60px;
        }
        .next, .prev {
            z-index: 999;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -60px;
            cursor: pointer;
            color: transparent;
            border: none;
            outline: 0;
            background: 0 0;
            padding: 0;
            position: absolute;
            display: block;

            img {
                max-width: 150%;
            }
        }
    }
}

@media (max-width: 1300px) {
    .po-testimonial-slider {
        > span {
            .prev {
                left:20px;
            }
            .next {
                right:20px;
            }

        }
    }
}

@media (max-width: 1170px) {
    .po-testimonial-slider {
        > span {

            .slick-slide {
                max-width: 680px;
            }
            .slick-before {
                transform: scale(0.7) translate(780px);
            }
            
            .slick-center + .slick-slide {
                transform: scale(0.7) translate(-780px);
            }
            .prev {
                img {
                    display:none;
                }
            }
            .next {
                img {
                    display:none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .po-testimonial-slider {
        > span {    

            .slick-slide {
                width: 90vw;
                .slide {
                    padding: 20px;
                     .pagination {
                        .slick-dots {

                            li {
                                button {

                                    width:30px;
                                    height:2px;
                                }
                            }
                        }
                    }
                }
            }
            .slick-before {
                transform: scale(0.7) translate(0px);
            }
            
            .slick-center + .slick-slide {
                transform: scale(0.7) translate(0px);
            }
            .prev {
                img {
                    display:none;
                }
            }
            .next {
                img {
                    display:none;
                }
            }

        

        }
    }
}




