.po-text-and-image {
    .text-image-wrapper {
        word-wrap: break-word;
        display:flex;
        padding-top:80px;
        padding-bottom:30px;
        &.text-right {
            justify-content: flex-end;
        }
        &.text-left {
            justify-content: flex-start;
        }
        .text {
            min-width: 0;
            width: 60%;
            @media (max-width: 1024px) {
                width:100%;
            }
        }
    }
    @media (max-width: 1024px) {
        background:none !important;
    }
}

