.po-txt-img-bot-radius-wrapper {
    overflow-x: hidden;
    padding-top: 90px;
    .po-txt-img-bot-radius {
        position: relative;
        min-height: 630px;
        width: 100%;
        z-index: 4;
        background-color: hubl("$first_color");
        border-bottom-left-radius: 50% 50px;
        border-bottom-right-radius: 50% 50px;
        width: 110%;
        margin-left: -5%;
        min-height: 630px;
        display: flex;
        align-items: center;

        .content {
            position: relative;
            z-index: 20;
            color: #fff;
            .wrapper {
                max-width: 65%;
                padding-left: 0%;
                @media (max-width: 1360px) {
                    max-width: 50%;
                }
                @media (max-width: 1260px) {
                    max-width: 50%;
                    padding-left: 5%;
                }
                @media (max-width: 1024px) {
                    max-width: 100%;
                    padding-bottom: 40px;
                }
            }
            h2 {
                color: #fff;
                 margin-bottom: 40px;
            }
             .cta_button{
                margin-top: 47px;
            }
        }
        .inner-image {
            position: absolute;
            overflow: hidden;
            right: 0px;
            bottom: 0px;
            width: 110%;
            margin-left: -5%;
            min-height: 630px;
            border-bottom-left-radius: 50% 50px;
            border-bottom-right-radius: 50% 50px;
            text-align: right;
            z-index: 5;
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}


// IE 11
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .po-txt-img-bot-radius {
        height: 630px;
    }
}

// EDGE
@supports (-ms-ime-align:auto) {
    .po-txt-img-bot-radius {
        height: 630px;
    }
}