.po-video-banner {
    width: 100%;
    height:800px;
    max-height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .mask {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hubl_rgba("$first_color", .85);
    }
    .video-bg {
        width: 100%;
        position: relative;
        video {
            display: block;
            max-height: 100%;
            max-width: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .content {
        text-align: center;
        z-index: 4;
        .video-play-btn {
            width:100px;
            height:100px;
            line-height: 100px;
            border:4px white solid;
            border-radius: 50%;
            display: block;
            text-align: center;
            color: #fff;
            font-size:30px;

            &:after {
                display: none;
            }
            
            i, svg {
                color: white;
                font-size:30px;
                margin-left:5px;
                vertical-align: 0;
            }
        }
        span {
            text-transform: uppercase;
            color: white;
            font-size: em(16);
            font-weight: bold;
        }
    }
}