.po-want-to-work {
    background-color: hubl("$first_color");
    padding: 60px 0;
    .container {
        .want-to-work-wrapper {
            display: flex;
            flex-wrap: wrap;
            .text-box {
                width:70%;
                padding-right: 30px;
                h3,p {
                    margin:0 0 10px 0;
                    color: white;
                }
                p {
                    margin:0;
                }
            }
            .cta-box {
                margin-top:9px;
            }
        }
    }
    @media (max-width:768px) {
        .container {
            .want-to-work-wrapper {
                .text-box {
                    width:100%;
                    padding-right:0;
                }
                .cta-box {
                    margin-top:30px;
                }
            }
        }
    }
}